{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>Domain '{{ domain.domain_name }}'{% if domain.system_set.all %} (s: {{ domain.system_set.all|length }}){% endif %}</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/domains" type="button" class="btn btn-light"><img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to domains</a>
        <br><br>
    </div>
</div>

<script>
var clipboard = new ClipboardJS('.btn');
</script>

<div class="row">
    <div class="col-3">
        <h5>Domain "{{ domain.domain_name }}"</h5>
    </div>
    <div class="col-3">
    {% if domain.system_set.all %}
    {% with systems=domain.system_set.all %}
    {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
    {% endwith %}
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <small class="text-muted">
            Domain-ID: {{ domain.domain_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if domain.domain_note %}
        {{ domain.domain_note|linebreaks }}
        {% else %}
        ---
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
    <br>
        <h5>Systems in this domain{% if domain.system_set.all %} ({{ domain.system_set.all|length }}){% endif %}</h5>
    </div>
</div>

{% if domain.system_set.all %}
{% for i in domain.system_set.all %}
<div class="row top-distance">
    <div class="col-3">
        <a href="/systems/{{ i.system_id}}" type="button" class="btn btn-primary btn-sm"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system_name }}</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>
{% endif %}

<br><br>
<a href="/domains/{{ domain.domain_id }}/edit" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon" alt="icon">  Edit</a>

{% endblock %}
