{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>Systemstatus '{{ systemstatus.systemstatus_name }}'{% if systemstatus.system_set.all %} (s: {{ systemstatus.system_set.all|length }}){% endif %}</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/systemstatuss" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to systemstatus</a>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h5>Systemstatus 
                <button
                {% if systemstatus.systemstatus_name == 'Clean' %}
                class="btn btn-green btn-lg round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Removed' %}
                class="btn btn-green btn-lg round"><img src="{% static 'dfirtrack_main/icons/trash-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Reinstalled' %}
                class="btn btn-green btn-lg round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Remediation done' %}
                class="btn btn-green btn-lg round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Analysis ongoing' %}
                class="btn btn-orange btn-lg round"><img src="{% static 'dfirtrack_main/icons/pulse-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Unknown' %}
                class="btn btn-orange btn-lg round"><img src="{% static 'dfirtrack_main/icons/flag-light.svg' %}" class="icon" alt="icon">  
                {% elif systemstatus.systemstatus_name == 'Compromised' %}
                class="btn btn-red btn-lg round"><img src="{% static 'dfirtrack_main/icons/fire-light.svg' %}" class="icon" alt="icon">  
                {% else %}
                >
                {% endif %}
                    {{ systemstatus.systemstatus_name }}
                </button>
	</h5>
    </div>
    <div class="col-3">
        <small class="text-muted">
            Systemstatus-ID: {{ systemstatus.systemstatus_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if systemstatus.systemstatus_note %}
        {{ systemstatus.systemstatus_note|linebreaks }}
        {% else %}
        ---
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
    <br>
        <h5>Systems with this status{% if systemstatus.system_set.all %} ({{ systemstatus.system_set.all|length }}){% endif %}</h5>
    </div>
</div>

{% if systemstatus.system_set.all %}
{% for i in systemstatus.system_set.all %}
<div class="row top-distance">
    <div class="col-3">
        <a href="/systems/{{ i.system_id}}" type="button" class="btn btn-primary btn-sm"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system_name }}</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>
{% endif %}

{% endblock %}
