{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>Systemstatus '{{ systemstatus.systemstatus_name }}'{% if systemstatus.system_set.all %} (s: {{ systemstatus.system_set.all|length }}){% endif %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/systemstatuss" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to systemstatus</a>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h5>Systemstatus
	{% include "dfirtrack_main/includes/button_systemstatus.html" %}
	</h5>
    </div>
    <div class="col-3">
        <small class="text-muted">
            Systemstatus-ID: {{ systemstatus.systemstatus_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if systemstatus.systemstatus_note %}
        {{ systemstatus.systemstatus_note|linebreaks }}
        {% else %}
        ---
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
    <br>
        <h5>Systems with this status{% if systemstatus.system_set.all %} ({{ systemstatus.system_set.all|length }}){% endif %}</h5>
    </div>
</div>

{% if systemstatus.system_set.all %}

<table id="table_system" class="display" width="100%">

<thead>
{% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
</thead>

<tbody>
{% for i in systemstatus.system_set.all %}
{% include "dfirtrack_main/includes/datatable_tbody_table_system.html" %}
{% endfor %}
</tbody>
</table>

<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>
{% endif %}

{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

{% endblock %}
