{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Systemstatus</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Systemstatus</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-2">Systemstatus</div>
            <div class="col-8">Note</div>
        </div>

    {% for i in object_list %}
        <div class="row top-distance">
            <div class="col-1">{{ i.systemstatus_id }}</div>
            <div class="col-2">
                {% with systemstatus=i %}
                {% include "dfirtrack_main/includes/button_systemstatus.html" %}
                {% endwith %}
            </div>
            <div class="col-9">
                {% if i.systemstatus_note %}
                {{ i.systemstatus_note|linebreaks }}
                {% else %}
                ---
                {% endif %}
            </div>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}
