{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Systemstatus</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Systemstatus</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-2">Systemstatus</div>
            <div class="col-8">Note</div>
        </div>

    {% for i in object_list %}
        <div class="row top-distance">
            <div class="col-1">{{ i.systemstatus_id }}</div>
            <div class="col-2">
                <a href="/systemstatuss/{{ i.systemstatus_id }}"
                {% if i.systemstatus_name == 'Clean' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Removed' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/trash-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Reinstalled' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Remediation done' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Analysis ongoing' %}
                class="btn btn-orange btn-sm round"><img src="{% static 'dfirtrack_main/icons/pulse-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Unknown' %}
                class="btn btn-orange btn-sm round"><img src="{% static 'dfirtrack_main/icons/flag-light.svg' %}" class="icon-sm" alt="icon">  
                {% elif i.systemstatus_name == 'Compromised' %}
                class="btn btn-red btn-sm round"><img src="{% static 'dfirtrack_main/icons/fire-light.svg' %}" class="icon-sm" alt="icon">  
                {% else %}
                >
                {% endif %}
                    {{ i.systemstatus_name }}
                </a>
            </div>
            <div class="col-9">
                {% if i.systemstatus_note %}
                {{ i.systemstatus_note|linebreaks }}
                {% else %}
                ---
                {% endif %}
            </div>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}
