{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>
    Analystmemo '{{ analystmemo.system.system_name }}
    {% if analystmemo.system.system_dnssuffix %}
    .{{ analystmemo.system.system_dnssuffix }}
    {% endif %}
    '
</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/analystmemos" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to analystmemos</a>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h5>
        Analystmemo {{ analystmemo.analystmemo_id }} for 
        <a href="/systems/{{ analystmemo.system.system_id }}" type="button" class="btn btn-primary btn-sm btn-lg"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon" alt="icon">
            {{ analystmemo.system.system_name }}
        </a>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <small class="text-muted">
            Analystmemo-ID: {{ analystmemo.analystmemo_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">{{ analystmemo.analystmemo_note|linebreaks }}</div>
</div>

<div class="row text-muted">
    <div class="col">
    <br>
        <h5>Meta information</h5>
    </div>
</div>

<div class="row text-muted">
    <div class="col-3">
        <div class="font-weight-bold">Created:</div>
        {{ analystmemo.analystmemo_create_time|date:"Y-m-d H:i" }}
    </div>
    <div class="col-3">
        <div class="font-weight-bold">Created by:</div>
        {{ analystmemo.analystmemo_created_by_user_id }}
    </div>
    <div class="col-3">
        <div class="font-weight-bold">Last modified:</div>
        {{ analystmemo.analystmemo_modify_time|date:"Y-m-d H:i" }}
    </div>
    <div class="col-3">
        <div class="font-weight-bold">Modified by:</div>
        {{ analystmemo.analystmemo_modified_by_user_id }}
    </div>
</div>

<br><br>
<a href="/analystmemos/{{ analystmemo.analystmemo_id }}/edit" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon" alt="icon">  Edit</a>

{% endblock %}
