{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - OS-Importnames</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Importnames for operating systems</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-2">OS-Importnames</div>
            <div class="col-2">Operating system</div>
            <div class="col-6">Importer</div>
        </div>

    {% for i in object_list %}
        <div class="row">
            <div class="col-1">{{ i.osimportname_id }}</div>
            <div class="col-2">{{ i.osimportname_name }}</div>
            <div class="col-2">
                <a href="/oss/{{ i.os.os_id }}">{{ i.os.os_name }}</a>
            </div>
            <div class="col-6">{{ i.osimportname_importer }}</div>
            <div class="col-1">
                <a href="/osimportnames/{{ i.osimportname_id }}/edit">Edit</a>
            </div>
            <br><br>
        </div>

    {% endfor %}

    <br><br>
    <div class="row">
        <div class="col-1">
            <a href="/osimportnames/add" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon" alt="icon">  Add OS-Importname</a>
        </div>
    </div>

{% endblock %}
