{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Locations</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/locations" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to locations</a>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h5>Location "{{ location.location_name }}"</h5>
    </div>
    <div class="col-3">
        <small class="text-muted">
            Location-ID: {{ location.location_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if location.location_note %}
        {{ location.location_note|linebreaks }}
        {% else %}
        ---
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
    <br>
        <h5>Systems at this location{% if location.system_set.all %} ({{ location.system_set.all|length }}){% endif %}</h5>
    </div>
</div>

{% if location.system_set.all %}
{% for i in location.system_set.all %}
<div class="row top-distance">
    <div class="col-3">
        <a href="/systems/{{ i.system_id}}" type="button" class="btn btn-primary btn-sm"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system_name }}</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>
{% endif %}

<br><br>
<a href="/locations/{{ location.location_id }}/edit" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon" alt="icon">  Edit</a>

{% endblock %}
