[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django = "==3.2.12"
django-q = "*"
djangorestframework = "*"
gitpython = "*"
gunicorn = "*"
mock = "*"
mkdocs = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pyyaml = "*"
requests = "*"
xlrd = "*"
xlwt = "*"
uritemplate = "*"
martor = "*"

[dev-packages]

[requires]
python_version = "3.8"
