<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    {{title}} entry
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}
        
<!-- headline -->
<div class="bottom-distance">
    <h4>
        {{title}} entry
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ####################################### -->
    <!-- entry form -->

    <div class="card bg-dark border-light card-body">
        <div class="row bottom-distance">
            <!-- entry sha1 / system headline -->
            <div class="col-4">
                <h5>
                    {{form.entry_sha1.label}}
                </h5>
            </div>

            <div class="col-3">
                <h5>
                    <img src="/static/dfirtrack_main/icons/monitor-light.svg" class="icon right-distance copy-false" alt="icon">
                    {{form.system.label}}
                </h5>
            <!-- entry sha1 / system headline -->
            </div>
        </div>
        <div class="row">
            <!-- entry sha1 / system -->
            <div class="col-4">
                <div class="card bg-dark border-light card-body">
                    {{form.entry_sha1}}
                </div>
            </div>

            <div class="col-3">
                <div class="card bg-dark border-light card-body">
                    {{form.system}}
                </div>
            </div>
            <!-- entry sha1 / system -->
        </div>
    </div>

    <div class="card bg-dark border-light card-body top-distance">
        <div class="row">
            <!-- tags /cases headline -->
            <div class="col-6">
                <h5>
                    <img src="/static/dfirtrack_main/icons/tag-light.svg" class="icon right-distance copy-false" alt="icon">
                    {{form.tag.label}}
                </h5>
            </div>

            <div class="col-6">
                <h5>
                    <img src="/static/dfirtrack_main/icons/list-light.svg" class="icon right-distance copy-false" alt="icon">
                    {{form.case.label}}
                </h5>
            </div>
            <!-- tags /cases headline -->
        </div>

        <!-- tags /cases -->
        <div class="row">
            <div class="col-6">
                <div class="card bg-dark border-light card-body">
                    {{form.tag}}
                </div>
            </div>

            <div class="col-6">
                <div class="card bg-dark border-light card-body">
                    {{form.case}}
                </div>
            </div>
        <!-- tags /cases -->
        </div>
    </div>

    <div class="card bg-dark border-light card-body top-distance">
     <!-- entry information -->
        <div class="row bottom-distance">
            <div class="col-3">
                <h5>
                    Entry information
                </h5>
            </div>
        </div>

        <div class="row font-weight-bold">
        <!-- entry_time / entry_type headline -->
            <div class="col-6">
                {{form.entry_time.label}}
            </div>

            <div class="col-6">
                {{form.entry_type.label}}
            </div>
        <!-- entry_time / entry_type headline -->
        </div>

        <!-- entry_time / entry_type -->
        <div class="row top-distance">
            <div class="col-6">
                <div class="card bg-dark border-light card-body">
                    {{form.entry_time}}
                </div>
            </div>

            <div class="col-6">
                <div class="card bg-dark border-light card-body">
                    {{form.entry_type}}
                </div>
            </div>

        <!-- entry_time / entry_type -->
        </div>

        <div class="row top-distance">
        <!-- entry content headline -->
            <div class="col">
                {{form.entry_content.label}}
            </div>
        </div>
        <!-- entry content headline -->

        <div class="row top-distance">
        <!-- entry content -->
            <div class="col">
                <div class="card bg-dark border-light card-body">
                    {{form.entry_content}}
                </div>
            </div>
        <!-- entry content -->
        </div>
    <!-- entry information -->
    </div>

    <div class="card bg-dark border-light card-body top-distance">
        <div class="row">
            <div class="col">                
                    <h5>
                        {{form.entry_note.label}}
                    </h5>
            </div>
        </div>

        <div class="row top-distance">
            <div class="col">
                <div class="card bg-dark border-light card-body">
                    {{form.entry_note}}
                </div>
            </div>
        </div>
    </div>

    
    <!-- entry form -->
    <!-- ####################################### -->

    <!-- button row -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

<!-- form -->
</form>
    
<!-- HTML body in maintemplate -->
{% endblock %}
