<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>DFIRTrack - All tasks</title>

{% load static %}
{% load dfirtrack_main_tags %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.css"/>
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.js"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col-3">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/task-ligth.svg' %}" class="icon right-distance copy-false" alt="icon">
            All tasks
        </h5>
    </div>

<!-- headline -->
</div>

<div class="card bg-dark tab-card mb-3">

    <div class="card-header">
         <!-- headline button -->
        {% include "dfirtrack_main/includes/menu_top_task.html" %}
    </div>

    <!-- task card table -->
    <div class="card-body bg-dark">
        <!-- datatable task all -->
        <table id="table_task" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_task.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% for i in task_list %}
                    {% include "dfirtrack_main/includes/datatable_tbody_table_task.html" %}
                {% endfor %}
            </tbody>

        <!-- datatable task all -->
        </table>
    </div>
</div>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- bottom menu -->
{% include "dfirtrack_main/includes/menu_bottom_task.html" %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.js"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
