<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    {{ title }} task
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        {{ title }} task
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ############################################ -->

    <!-- taskname block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- taskname headline -->
        <div class="row">
            <div class="col">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.taskname.label }}
                </h5>
            </div>
        </div>

        <!-- taskname -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- taskname errors -->
                    <div class="text-danger">
                        {{ form.taskname.errors }}
                    </div>
                    {{ form.taskname }}
                </div>
            </div>
        </div>

        <!-- add taskname button row -->
        <div class="row">
            <div class="col-3">
                <button onclick="taskname_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add taskname
                </button>
            </div>
        </div>

        <!-- parent task headline -->
        <div class="row top-distance">
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.parent_task.label }}
                </div>
            </div>
        </div>

        <!-- parent task -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- parent task errors -->
                    <div class="text-danger">
                        {{ form.parent_task.errors }}
                    </div>
                    {{ form.parent_task }}
                </div>
            </div>
        </div>

    <!-- taskname block -->
    </div>

    <!-- ############################################ -->

    <!-- tags / case block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tags / case headline row -->
        <div class="row">

            <!-- tags headline -->
            <div class="col">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.tag.label }}
                </h5>
            </div>

            <!-- case headline -->
            <div class="col">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.case.label }}
                </h5>
            </div>

        <!-- tags / case headline row -->
        </div>

        <!-- tags / case -->
        <div class="row">

            <!-- tags -->
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- tag errors -->
                    <div class="text-danger">
                        {{ form.tag.errors }}
                    </div>
                    {{ form.tag }}
                </div>
            </div>

            <!-- case -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- case errors -->
                    <div class="text-danger">
                        {{ form.case.errors }}
                    </div>
                    {{ form.case }}
                </div>
            </div>

        <!-- tags / case -->
        </div>

    <!-- tags / case block -->
    </div>

    <!-- ############################################ -->

    <!-- status information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Status information
                </h5>
            </div>
        </div>

        <!-- status information headlines row -->
        <div class="row">

            <!-- taskstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.taskstatus.label }}
                </div>
            </div>

            <!-- taskpriority headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.taskpriority.label }}
                </div>
            </div>

        <!-- status information headlines row -->
        </div>

        <!-- status information row -->
        <div class="row">

            <!-- taskstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- taskstatus errors -->
                    <div class="text-danger">
                        {{ form.taskstatus.errors }}
                    </div>
                    {% for i in form.taskstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- taskpriority -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- taskpriority errors -->
                    <div class="text-danger">
                        {{ form.taskpriority.errors }}
                    </div>
                    {% for i in form.taskpriority %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- status information row -->
        </div>

        <!-- system / user headlines row -->
        <div class="row top-distance">

            <!-- system headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.system.label }}
                </div>
            </div>

            <!-- assigned user headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.task_assigned_to_user_id.label }}
                </div>
            </div>

        <!-- system / user headlines row -->
        </div>

        <!-- system / user row -->
        <div class="row">

            <!-- system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- system errors -->
                    <div class="text-danger">
                        {{ form.system.errors }}
                    </div>
                    {{ form.system }}
                </div>
            </div>

            <!-- assigned user -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- assigned user errors -->
                    <div class="text-danger">
                        {{ form.task_assigned_to_user_id.errors }}
                    </div>
                    {{ form.task_assigned_to_user_id }}
                </div>
            </div>

        <!-- system / user row -->
        </div>

        <!-- artifact headlines row -->
        <div class="row top-distance">

            <!-- artifact headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    <img src="{% static 'dfirtrack_main/icons/bug-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.artifact.label }}
                </div>
            </div>

        <!-- artifact headlines row -->
        </div>

        <!-- artifact row -->
        <div class="row">

            <!-- artifact -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact errors -->
                    <div class="text-danger">
                        {{ form.artifact.errors }}
                    </div>
                    {{ form.artifact }}
                </div>
            </div>

        <!-- artifact row -->
        </div>

    <!-- status information block -->
    </div>

    <!-- ############################################ -->

    <!-- timing information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- timing information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Timing information
                </h5>
            </div>
        </div>

        <!-- headlines / tooltips -->
        <div class="row font-weight-bold">

            <!-- task scheduled time headline -->
            <div class="col-2">
                {{ form.task_scheduled_time.label }}
            </div>

            <!-- task scheduled time tooltip -->
            <div class="col-1">
                <div data-toggle="tooltip" data-placement="auto" title="The time when a task can be started at the earliest.">
                    {% include "dfirtrack_main/includes/button_tooltip.html" %}
                </div>
            </div>

            <!-- task started time headline -->
            <div class="col-1 text-muted">
                Started:
            </div>

            <!-- task started time tooltip -->
            <div class="col-2">
                <div data-toggle="tooltip" data-placement="right" title="The starting time is affected by task status and therefore not manually editable.">
                    {% include "dfirtrack_main/includes/button_tooltip.html" %}
                </div>
            </div>

            <!-- task finished time headline -->
            <div class="col-1 text-muted">
                Finished:
            </div>

            <!-- task finished time tooltip -->
            <div class="col-2">
                <div data-toggle="tooltip" data-placement="right" title="The finishing time is affected by task status and therefore not manually editable.">
                    {% include "dfirtrack_main/includes/button_tooltip.html" %}
                </div>
            </div>

            <!-- task due time headline -->
            <div class="col-2">
                {{ form.task_due_time.label }}
            </div>

            <!-- task due time tooltip -->
            <div class="col-1">
                <div data-toggle="tooltip" data-placement="right" title="The time when a task should be finished.">
                    {% include "dfirtrack_main/includes/button_tooltip.html" %}
                </div>
            </div>

        <!-- headlines / tooltips -->
        </div>

        <!-- timing information -->
        <div class="row">

            <!-- task scheduled time -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- task scheduled time errors -->
                    <div class="text-danger">
                        {{ form.task_scheduled_time.errors }}
                    </div>
                    {{ form.task_scheduled_time }}
                </div>
            </div>

            <!-- placeholder -->
            <div class="col-6">
            </div>

            <!-- task due time -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- task due time errors -->
                    <div class="text-danger">
                        {{ form.task_due_time.errors }}
                    </div>
                    {{ form.task_due_time }}
                </div>
            </div>

        <!-- timing information -->
        </div>

    <!-- timing information block -->
    </div>

    <!-- ############################################ -->

    <!-- task note block -->
    <div class="card card-body bg-dark border-light top-distance bottom-distance">

        <!-- task note headline -->
        <div class="row">
            <div class="col">
                <h5>
                    {{ form.task_note.label }}
                </h5>
            </div>
        </div>

        <!-- task note -->
        <div class="row">
            <div class="col">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- task note errors -->
                    <div class="text-danger">
                        {{ form.task_note.errors }}
                    </div>
                    {{ form.task_note }}
                </div>
            </div>
        </div>

    <!-- task note block -->
    </div>

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
