{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Closed tasks</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h5>Closed tasks</h5>
    </div>
</div>
<br><br>

<table id="table_task_done" class="display" width="100%">

    <thead>
        <tr>
            <td>ID</td>
            <td>Task</td>
            <td>System</td>
            <td>User</td>
            <td>Status</td>
            <td>Priority</td>
            <td>Due</td>
            <td>Created</td>
            <td>Modified</td>
        </tr>
    </thead>

    <tbody>
    {% for i in object_list %}
        <tr>
            <td>{{ i.task_id }}</td>
            <td><a href="/tasks/{{ i.task_id }}" type="button" class="btn btn-primary btn-sm sharp"><img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon-sm" alt="icon">  {{ i.taskname }}</a></td>
            <td>
                {% if i.system %}
                <a href="/systems/{{ i.system.system_id }}" type="button" class="btn btn-primary btn-sm"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system.system_name }}</a>
                {% else %}
                ---
                {% endif %}
            </td>
            <td>
                {% if i.task_assigned_to_user_id %}
                {{ i.task_assigned_to_user_id }}
                {% else %}
                ---
                {% endif %}
            </td>
            <td>
                <a href="/taskstatuss/{{ i.taskstatus.taskstatus_id }}">
                {% if i.taskstatus.taskstatus_name == 'Pending' %}
                {% include "dfirtrack_main/includes/button_taskstatus_pending.html" %}
                {% endif %}
                {% if i.taskstatus.taskstatus_name == 'Working' %}
                {% include "dfirtrack_main/includes/button_taskstatus_working.html" %}
                {% endif %}
                {% if i.taskstatus.taskstatus_name == 'Done' %}
                {% include "dfirtrack_main/includes/button_taskstatus_done.html" %}
                {% endif %}
                {{ i.taskstatus }}
                </a>
            </td>
            <td>
                <a href="/taskprioritys/{{ i.taskpriority.taskpriority_id }}">
                {% if i.taskpriority.taskpriority_name == 'High' %}
                {% include "dfirtrack_main/includes/button_taskpriority_high.html" %}
                {% endif %}
                {% if i.taskpriority.taskpriority_name == 'Medium' %}
                {% include "dfirtrack_main/includes/button_taskpriority_medium.html" %}
                {% endif %}
                {% if i.taskpriority.taskpriority_name == 'Low' %}
                {% include "dfirtrack_main/includes/button_taskpriority_low.html" %}
                {% endif %}
                {{ i.taskpriority }}
                </a>
            </td>
            <td>
                {% if i.task_due_time %}
                {{ i.task_due_time|date:"Y-m-d H:i" }}
                {% else %}
                ---
                {% endif %}
            </td>
            <td class="text-secondary">{{ i.task_create_time|date:"Y-m-d H:i" }}</td>
            <td class="text-secondary">{{ i.task_modify_time|date:"Y-m-d H:i" }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

{% endblock %}
