<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>Tasks creator</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Create tasks
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- taskname block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- taskname headline -->
        <div class="row">
            <div class="col">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.taskname.label }}
                </h5>
            </div>
        </div>

        <!-- tasknames -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                <!-- taskname errors -->
                <div class="text-danger">
                    {{ form.taskname.errors }}
                </div>
                {% for i in form.taskname %}
                    {{ i }}
                {% endfor %}
                </div>
            </div>
        </div>

    <!-- taskname block -->
    </div>

    <!-- ############################################ -->

    <!-- tag block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag headline -->
        <div class="row">
            <div class="col">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.tag.label }}
                </h5>
            </div>
        </div>

        <!-- tags -->
        <div class="row">
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                <!-- tag errors -->
                <div class="text-danger">
                    {{ form.tag.errors }}
                </div>
                {% for i in form.tag %}
                    {{ i }}
                {% endfor %}
                </div>
            </div>
        </div>

    <!-- tag block -->
    </div>

    <!-- ############################################ -->

    <!-- status information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Status information
                </h5>
            </div>
        </div>

        <!-- taskstatus / taskpriority headline -->
        <div class="row">

            <!-- taskstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.taskstatus.label }}
                </div>
            </div>

            <!-- taskpriority headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.taskpriority.label }}
                </div>
            </div>

        <!-- taskstatus / taskpriority headline -->
        </div>

        <!-- taskstatus / taskpriority -->
        <div class="row">

            <!-- taskstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- taskstatus errors -->
                    <div class="text-danger">
                        {{ form.taskstatus.errors }}
                    </div>
                    {% for i in form.taskstatus %}
                        {{ i }}
                    {% endfor %}
                </div>
            </div>

            <!-- taskpriority -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- taskpriority errors -->
                    <div class="text-danger">
                        {{ form.taskpriority.errors }}
                    </div>
                    {% for i in form.taskpriority %}
                        {{ i }}
                    {% endfor %}
                </div>
            </div>

        <!-- taskstatus / taskpriority -->
        </div>

        <!-- user headline -->
        <div class="row top-distance">

            <!-- user headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.task_assigned_to_user_id.label }}
                </div>
            </div>

        <!-- user headline -->
        </div>

        <!-- user -->
        <div class="row">

            <!-- user -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <div class="text-danger">
                        {{ form.task_assigned_to_user_id.errors }}
                    </div>
                    {{ form.task_assigned_to_user_id }}
                </div>
            </div>

        <!-- user -->
        </div>

        <!-- system headline -->
        <div class="row top-distance">
            <div class="col-3">
                <div class="font-weight-bold top-distance bottom-distance">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.system.label }}
                </div>
            </div>
        </div>

        <!-- system -->
        <div class="row">

            <!-- system -->
            <div class="col">

                <!-- system errors -->
                <div class="text-danger">
                    {{ form.system.errors }}
                </div>

                <!-- systemlist selector -->
                {{ form.system }}
                {{ form.media}}
                <script type="text/javascript" src="{% url 'jsi18n' %}"></script>

            </div>

        <!-- system -->
        </div>

    <!-- status information block -->
    </div>

    <!-- task note block -->
    <div class="card card-body bg-dark border-light top-distance bottom-distance">

        <!-- task note headline -->
        <div class="row">
            <div class="col">
                <h5>
                    {{ form.task_note.label }}
                </h5>
            </div>
        </div>

        <!-- task note -->
        <div class="row">
            <div class="col">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- task note errors -->
                    <div class="text-danger">
                        {{ form.task_note.errors }}
                    </div>
                    {{ form.task_note }}
                </div>
            </div>
        </div>

    <!-- task note block -->
    </div>

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
