<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>DFIRTrack - Closed tasks</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col-3">
        <h5>
            Closed tasks
        </h5>
    </div>

    <!-- headline button -->
    {% include "dfirtrack_main/includes/top_menu_tasks.html" %}

<!-- headline -->
</div>

<!-- datatable task closed -->
<table id="table_task" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_main/includes/datatable_thead_table_task.html" %}
    </thead>

    <!-- table body -->
    <tbody>
        {% for i in task_list %}
            {% include "dfirtrack_main/includes/datatable_tbody_table_task.html" %}
        {% endfor %}
    </tbody>

<!-- datatable task closed -->
</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- bottom menu -->
{% include "dfirtrack_main/includes/bottom_menu_tasks.html" %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
