{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Reportitems</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h5>Reportitems</h5>
    </div>
</div>

<br><br>

<table id="table_reportitem" class="display" width="100%">

    <thead>
        <tr>
            <th>ID</th>
            <th>System</th>
            <th>Reportitem</th>
            <th>Created</th>
            <th>Created by</th>
            <th>Modified</th>
            <th>Modified by</th>
        </tr>
    </thead>

    <tbody>
    {% for i in object_list %}
        <tr>
            <td>{{ i.reportitem_id }}</td>
            <td>
                <a href="/systems/{{ i.system.system_id }}" type="button" class="btn btn-primary btn-sm top-distance"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system.system_name }}</a>
            </td>
            <td>
                <a href="/reportitems/{{ i.reportitem_id }}">{{ i.headline }} - {{ i.reportitem_subheadline }}</a>
            </td>
            <td>{{ i.reportitem_create_time|date:"Y-m-d H:i" }}</td>
            <td>{{ i.reportitem_created_by_user_id }}</td>
            <td>{{ i.reportitem_modify_time|date:"Y-m-d H:i" }}</td>
            <td>{{ i.reportitem_modified_by_user_id }}</td>
        </tr>

    {% endfor %}
    </tbody>

</table>

<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

{% endblock %}
