<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Reportitem '{{ reportitem.headline }}' ({{ reportitem.system.system_name }}{% if reportitem.system.dnsname %}.{{ reportitem.system.dnsname }}{% endif %})
</title>

{% load static %}
{% load martortags %}

<!-- martor -->
{% include "dfirtrack_main/includes/martor_css.html" %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'reportitem_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to reportitems
        </a>
    </div>
</div>

<!-- reportitem headline and subheadline row-->
<div class="row">

    <!-- headline and subheadline -->
    <div class="col-3">
        <h5>
            {{ reportitem.headline }}
            {% if reportitem.reportitem_subheadline %}
                - {{ reportitem.reportitem_subheadline }}
            {% endif %}
        </h5>
    </div>

    <!-- system -->
    <div class="col-3">
        <a href="{{ reportitem.system.get_absolute_url }}" type="button" class="btn btn-primary btn-sm btn-lg copy-true">
            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ reportitem.system.system_name }}
        </a>
    </div>

<!-- reportitem headline and subheadline row-->
</div>

<!-- reportitem id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Reportitem-ID: {{ reportitem.reportitem_id }}
        </small>
    </div>
</div>

<!-- user row -->
<div class="row">

    <!-- assigned user -->
    <div class="col-2">
        <div class="font-weight-bold">
            <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Assigned to user:
        </div>
        {% if reportitem.reportitem_assigned_to_user_id %}
            {{ reportitem.reportitem_assigned_to_user_id }}
        {% else %}
            ---
        {% endif %}
    </div>

    <!-- grab / free user assignment button -->
    <div class="col-3">

        <!-- grab button -->
        {% if not reportitem.reportitem_assigned_to_user_id %}
            <a href="{{ reportitem.get_set_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/person.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Grab
            </a>

        <!-- free button -->
        {% else %}
            <a href="{{ reportitem.get_unset_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/delete.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Free
            </a>
        {% endif %}

    <!-- grab / free user assignment button -->
    </div>

<!-- user row -->
</div>

<!-- ############################################ -->

<!-- tags / case row -->
{% with model=reportitem %}
    {% include "dfirtrack_main/includes/card_tag_case.html" %}
{% endwith %}

<!-- ############################################ -->

<!-- reportitem note block -->
<div class="top-distance card bg-dark border-light card-body">

    <!-- reportitem note headline -->
    <div class="row">
        <div class="col">
            <h5>Note</h5>
        </div>
    </div>

    <!-- reportitem note -->
    <div class="row">
        <div class="col markdown-preview">
            {{ reportitem.reportitem_note|safe_markdown }}
        </div>
    </div>

<!-- reportitem note block -->
</div>

<!-- ############################################ -->

<!-- meta information -->
{% with create_time=reportitem.reportitem_create_time created_by_user_id=reportitem.reportitem_created_by_user_id modify_time=reportitem.reportitem_modify_time modified_by_user_id=reportitem.reportitem_modified_by_user_id %}
    {% include "dfirtrack_main/includes/card_meta_information.html" %}
{% endwith %}

<!-- ############################################ -->

<!-- edit button -->
<a href="{{ reportitem.get_update_url }}" type="button" class="btn btn-light copy-false">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
    Edit
</a>

<!-- martor -->
{% include "dfirtrack_main/includes/martor_javascript.html" %}

<!-- HTML body in maintemplate -->
{% endblock %}
