<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Reportitem '{{ reportitem.headline }}' ({{ reportitem.system.system_name }}{% if reportitem.system.dnsname %}.{{ reportitem.system.dnsname }}{% endif %})
</title>

{% load static %}
{% load martortags %}

<!-- martor -->
{% include "dfirtrack_main/includes/martor_css.html" %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'reportitem_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to reportitems
        </a>
    </div>
</div>

<!-- reportitem headline and subheadline row-->
<div class="row">

    <!-- headline and subheadline -->
    <div class="col-3">
        <h5>
            {{ reportitem.headline }}
            {% if reportitem.reportitem_subheadline %}
                - {{ reportitem.reportitem_subheadline }}
            {% endif %}
        </h5>
    </div>

    <!-- system -->
    <div class="col-3">
        <a href="{{ reportitem.system.get_absolute_url }}" type="button" class="btn btn-primary btn-sm btn-lg copy-true">
            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ reportitem.system.system_name }}
        </a>
    </div>


<!-- reportitem headline and subheadline row-->
</div>

<!-- reportitem id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Reportitem-ID: {{ reportitem.reportitem_id }}
        </small>
    </div>
</div>

<!-- ############################################ -->

<!-- tags / case row -->
{% with model=reportitem %}
    {% include "dfirtrack_main/includes/card_tag_case.html" %}
{% endwith %}

<!-- ############################################ -->

<!-- reportitem note block -->
<div class="top-distance card bg-dark border-light card-body">

    <!-- reportitem note headline -->
    <div class="row">
        <div class="col">
            <h5>Note</h5>
        </div>
    </div>

    <!-- reportitem note -->
    <div class="row">
        <div class="col markdown-preview">
            {{ reportitem.reportitem_note|safe_markdown }}
        </div>
    </div>

<!-- reportitem note block -->
</div>

<!-- ############################################ -->

<!-- TODO: switch to generic model attributes -->
<!-- compare with 'card_meta_information.html' -->

<!-- meta information -->
<div class="card bg-dark border-secondary card-body bottom-distance top-distance">

    <!-- meta information headline -->
    <div class="row text-muted">
        <div class="col">
            <h5>Meta information</h5>
        </div>
    </div>

    <!-- meta information row -->
    <div class="row text-muted">

        <!-- reportitem create time -->
        <div class="col-3">
            <div class="font-weight-bold">Created:</div>
            {{ reportitem.reportitem_create_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user creating reportitem -->
        <div class="col-3">
            <div class="font-weight-bold">Created by:</div>
            {{ reportitem.reportitem_created_by_user_id }}
        </div>

        <!-- reportitem modify time -->
        <div class="col-3">
            <div class="font-weight-bold">Last modified:</div>
            {{ reportitem.reportitem_modify_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user modifying reportitem -->
        <div class="col-3">
            <div class="font-weight-bold">Modified by:</div>
            {{ reportitem.reportitem_modified_by_user_id }}
        </div>

    <!-- meta information row -->
    </div>

<!-- meta information -->
</div>

<!-- edit button -->
<a href="{{ reportitem.get_update_url }}" type="button" class="btn btn-light copy-false">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
    Edit
</a>

<!-- martor -->
{% include "dfirtrack_main/includes/martor_javascript.html" %}

<!-- HTML body in maintemplate -->
{% endblock %}
