{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Reportitems</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Reportitems</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-3">Reportitem</div>
            <div class="col-1">System</div>
            <div class="col-1">Created</div>
            <div class="col-1">Modified</div>
        </div>

    {% for i in object_list %}
        <div class="row">
            <div class="col-1">{{ i.reportitem_id }}</div>
            <div class="col-3">
                <a href="/reportitems/{{ i.reportitem_id }}">{{ i }}</a>
            </div>
            <div class="col-1">
                <a href="/systems/{{ i.system.system_id }}" type="button" class="btn btn-primary btn-sm top-distance"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system.system_name }}</a>
            </div>
            <div class="col-1 text-secondary">{{ i.reportitem_create_time|date:"Y-m-d H:i" }}</div>
            <div class="col-1 text-secondary">{{ i.reportitem_modify_time|date:"Y-m-d H:i" }}</div>
            <div class="col-4"></div>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}
