{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Headlines</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Headlines</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-10">Headline</div>
        </div>

    {% for i in object_list %}
        <div class="row">
            <div class="col-1">{{ i.headline_id }}</div>
            <div class="col-10">
                <a href="/headlines/{{ i.headline_id }}">{{ i.headline_name }}</a>
            </div>
            <div class="col-1">
                <a href="/headlines/{{ i.headline_id }}/edit">Edit</a>
            </div>
            <br><br>
        </div>
    {% endfor %}

    <br><br>
    <div class="row">
        <div class="col-1">
            <a href="/headlines/add" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon" alt="icon">  Add headline</a>
        </div>
    </div>

{% endblock %}
