<!-- extending maintemplate -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    403
</title>

<!-- static files -->
{% load staticfiles %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- HTML body in maintemplate -->
{% block content %}

<!-- main content -->
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>You shouldn't be here - 403</h3>
        </div>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
