<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - About
</title>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- main content -->
<h5>
    About DFIRTrack
</h5>

Looks like there is not much yet...
<br>

Meanwhile check the <a href="https://github.com/stuhli/dfirtrack/blob/master/README.md" target="_blank" class="text-primary">README</a>... ;-)

<!-- include mainsnippet -->
{% include "dfirtrack_main/includes/mainsnippet.html" %}

<!-- HTML body in maintemplate -->
{% endblock %}
