{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - FAQ</title>
{% endblock %}

{% block content %}

<h2><b>FAQ</b></h2>
<p>Need help? Maybe you will find more information in the <a href="https://github.com/stuhli/dfirtrack" class="text-primary">DFIRTrack repository</a>.</p>

<h3><a href="#question1" data-toggle="collapse">Which timezone is used?</a></h3>
    <div id="question1" class="collapse show">
        All shown times are UTC. So, all automatic filled in times are UTC and the manually filled in times by you should also use UTC, nevertheless how they are saved in your local database.
    </div>

<br>
{% include "dfirtrack_main/includes/mainsnippet.html" %}
{% endblock %}
