<!-- extending mainloginlogout -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in mainloginlogout -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Login
</title>

{% load static %}

<!-- HTML head in mainloginlogout -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in mainloginlogout -->
{% block content %}

<!-- form -->
<form method="post">

    {% csrf_token %}

    <!-- include standard form -->
    <div class="form-floating">
        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
    </div>
    <div class="form-floating">
        <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Password">
    </div>

    <!-- login button -->
    <button class="btn btn-light copy-false top-distance" type="submit">
        <img src="{% static 'dfirtrack_main/icons/account-login.svg' %}" class="icon right-distance copy-false" alt="icon">
        Login
    </button>

<!-- form -->
</form>

<!-- HTML body in mainloginlogout -->
{% endblock %}
