<!-- extending mainloginlogout -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in mainloginlogout -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Logout
</title>

{% load static %}

<!-- HTML head in mainloginlogout -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML head in mainloginlogout -->
{% block content %}

<!-- overall container -->
<div class="container">

    <!-- login link button -->
    <a href="/login" type="button" class="btn btn-light copy-false top-distance">
        <img src="{% static 'dfirtrack_main/icons/account-login.svg' %}" class="icon right-distance copy-false" alt="icon">
        Back to Login
    </a>

<!-- overall container -->
</div>

<!-- HTML head in mainloginlogout -->
{% endblock %}
