<!DOCTYPE html>
<html lang="en">

<!-- HTML head -->
<head>

    <!-- HTML head from templates -->
    {% block head %}
    {% endblock %}

    <meta charset="utf-8" />

    <!-- load static files -->
    {% load static %}
    {% load dfirtrack_main_tags %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'dfirtrack_main/img/favicon.ico' %}"/>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}dfirtrack_main/{% dep_bootstrap_version %}/css/bootstrap.min.css" type = "text/css"/>

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'dfirtrack_main/dfirtrack/dfirtrack.css' %}" type = "text/css"/>

<!-- HTML head -->
</head>

<!-- ############################################ -->

<!-- HTML body -->
<body class="bg-dark text-light text-center">

    <!-- logo -->
    <img src="{% static 'dfirtrack_main/img/dfirtrack_logo.png' %}" class="mb-4 copy-false top-distance" style='max-height:120px;' alt='DFIRTrack logo'>

    <!-- HTML body from templates -->
    {% block content %}
    {% endblock %}

<!-- HTML body -->
</body>

</html>
