<!DOCTYPE html>
<html lang="en">

<!-- HTML head -->
<head>

<!-- HTML head from templates -->
{% block head %}
{% endblock %}

<meta charset="utf-8" />

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'dfirtrack_main/bootstrap-4.0.0/css/bootstrap.min.css' %}" type = "text/css"/>

<meta name="viewport" content = "width=device-width, initial-scale=1.0">

<style type="text/css">
    html,
    body {
      height:100%
    }
</style>

<!-- custom CSS -->
<link rel="stylesheet" href="{% static 'dfirtrack_main/dfirtrack/dfirtrack.css' %}" type = "text/css"/>
<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>
<!-- javascript for copy button -->
<script src="{% static 'dfirtrack_main/clipboard-2.0.1/clipboard.min.js' %}"></script>

<!-- HTML head -->
</head>

<!-- ############################################ -->

<!-- HTML body -->
<body class="body bg-dark text-light">

<!-- dfirtrack_main.templatetags.dfirtrack_main_tags  -->
{% load dfirtrack_main_tags %}

<!-- overall container -->
<div class="container-fluid" style="min-height:95%; ">

    <!-- upper row -->
    <div class="row">

        <!-- DFIRTrack logo -->
        <div class="col-2 top-distance copy-false">
            <center>
                <img src="{% static 'dfirtrack_main/img/logo.png' %}" class="responsive-img copy-false" style='max-height:60px;' alt="place a logo in 'dfirtrack_main/img/logo.png'">
            </center>
        </div>

        <!-- DFIRTrack headline -->
        <div class="col top-distance copy-false">
            <center>
                <h3>
                    <!-- DFIRTrack -->
                    DFIRTrack

                    <!-- DFIRTrack subtitle -->
                    <small class="text-muted">
                        The Incident Response Tracking Application
                    </small>

                    <!-- DFIRTrack version number -->
                    <!-- dfirtrack_main.templatetags.dfirtrack_main_tags.dfirtrack_version   -->
                    <small>
                        {% dfirtrack_version %}
                    </small>
                </h3>
            </center>
        </div>

        <!-- logged in user -->
        <div class="col-1 top-distance copy-false">
            <center>
                <div class="text-muted">
                    Logged in as
                </div>
            </center>
            <center>
                <div class="top-distance copy-false">
                <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon-sm copy-false" alt="icon">
                {{ user.get_username }}
                </div>
            </center>
        </div>

        <!-- logout button -->
        <div class="col-1">
            <center>
                <a href="/logout" type="button" class="btn btn-light copy-false" style="margin-top:20px">
                    <img src="{% static 'dfirtrack_main/icons/account-logout.svg' %}" class="icon copy-false" alt="icon">
                    Logout
                </a>
            </center>
        </div>

    <!-- upper row -->
    </div><hr>

    <!-- main row -->
    <div class="row">

        <!-- nav bar column -->
        <div class="col-2 copy-false">

            <!-- nav bar -->
            <ul class="nav flex-column nav-pills">

                <!-- nav bar item -->
                <li class="nav-item">
                    <a class="nav-link active" href="/systems">
                        Systems
                    </a>
                </li>

                <!-- nav bar dropdown item -->
                <li class="nav-item dropdown">

                    <!-- nav bar dropdown toggle -->
                    <a class="nav-link dropdown-toggle active top-distance" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Systemitems
                    </a>

                    <!-- nav bar dropdown menu -->
                    <div class="dropdown-menu">

                        <!-- section -->
                        <div class="dropdown-header">Status information</div>
                        <a class="dropdown-item" href="/systemstatus/">Systemstatus</a>
                        <a class="dropdown-item" href="/analysisstatus/">Analysisstatus</a>
                        <a class="dropdown-item" href="/reason/">Reasons</a>
                        <a class="dropdown-item" href="/recommendation/">Recommendations</a>

                        <!-- section -->
                        <div class="dropdown-header">Technical information</div>
                        <a class="dropdown-item" href="/systemtype/">Systemtypes</a>
                        <a class="dropdown-item" href="/ip/">IPs</a>
                        <a class="dropdown-item" href="/domain/">Domains</a>
                        <a class="dropdown-item" href="/dnsname/">DNS names</a>
                        <a class="dropdown-item" href="/os/">OS</a>

                        <!-- section -->
                        <div class="dropdown-header">Company information</div>
                        <a class="dropdown-item" href="/company/">Companies</a>
                        <a class="dropdown-item" href="/location/">Locations</a>
                        <a class="dropdown-item" href="/serviceprovider/">Serviceproviders</a>
                        <a class="dropdown-item" href="/contact/">Contacts</a>
                        <a class="dropdown-item" href="/division/">Divisions</a>

                        <!-- section -->
                        <div class="dropdown-header">Users</div>
                        <a class="dropdown-item" href="/domainuser/">Domainusers</a>
                        <a class="dropdown-item" href="/systemusers">Systemusers</a>

                        <!-- section -->
                        <div class="dropdown-header">System information</div>
                        <a class="dropdown-item" href="/analystmemo/">Analystmemos</a>
                        <a class="dropdown-item" href="/reportitem/">Reportitems</a>

                        <!-- section -->
                        <div class="dropdown-header">Case information</div>
                        <a class="dropdown-item" href="/case/">Cases</a>
                        <a class="dropdown-item" href="/entry/">Entries</a>

                        <!-- section -->
                        <div class="dropdown-header">Meta utilities</div>
                        <a class="dropdown-item" href="/headline/">Headlines</a>
                        <a class="dropdown-item" href="/osimportname/">OS-Importnames</a>

                    <!-- nav bar dropdown menu -->
                    </div>
                <!-- nav bar dropdown item -->
                </li>

                <!-- nav bar item -->
                <li class="nav-item">
                    <a class="nav-link active top-distance" href="/artifacts/artifact">
                        Artifacts
                    </a>
                </li>

                <!-- nav bar dropdown item -->
                <li class="nav-item dropdown">

                    <!-- nav bar dropdown toggle -->
                    <a class="nav-link dropdown-toggle active top-distance" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Artifactitems
                    </a>

                    <!-- nav bar dropdown menu -->
                    <div class="dropdown-menu">

                        <!-- section -->
                        <div class="dropdown-header">Artifact information</div>
                        <a class="dropdown-item" href="{% url 'artifacts_artifactstatus_list' %}">Artifactstatus</a>
                        <a class="dropdown-item" href="{% url 'artifacts_artifacttype_list' %}">Artifacttype</a>

                    <!-- nav bar dropdown menu -->
                    </div>
                <!-- nav bar dropdown item -->
                </li>

                <!-- nav bar item -->
                <li class="nav-item">
                    <a class="nav-link active top-distance" href="/tasks">
                        Tasks
                    </a>
                </li>

                <!-- nav bar dropdown item -->
                <li class="nav-item dropdown">

                    <!-- nav bar dropdown toggle -->
                    <a class="nav-link dropdown-toggle active top-distance" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Taskitems
                    </a>

                    <!-- nav bar dropdown menu -->
                    <div class="dropdown-menu">

                        <!-- section -->
                        <div class="dropdown-header">Status information</div>
                        <a class="dropdown-item" href="/taskprioritys">Taskpriorities</a>
                        <a class="dropdown-item" href="/taskstatuss">Taskstatus</a>

                        <!-- section -->
                        <div class="dropdown-header">Meta utilities</div>
                        <a class="dropdown-item" href="/tasknames">Tasknames</a>

                    <!-- nav bar dropdown menu -->
                    </div>

                <!-- nav bar dropdown item -->
                </li>

                <!-- nav bar item -->
                <li class="nav-item">
                    <a class="nav-link active top-distance" href="/tags">
                        Tags
                    </a>
                </li>

            <!-- nav bar -->
            </ul>

        <!-- nav bar column -->
        </div>

        <!-- main column -->
        <div class="col">

            <!-- main content container -->
            <div class='container-fluid'>

                    <!-- messages -->
                    {% if messages %}
                        {% for message in messages %}

                            <!-- the corresponding alert for message level error is danger -->
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger copy-false">
                                    {{ message }}
                                </div>

                            <!-- all other alert levels correspond with the message level -->
                            {% else %}
                                <div class="alert alert-{{ message.tags }} copy-false">
                                    {{ message }}
                                </div>
                            {% endif %}

                        {% endfor %}
                    <!-- messages -->
                    {% endif %}

                    <!-- HTML body from templates -->
                    {% block content %}
                    {% endblock %}

                    <!-- go to top of page button -->
                    <button type="button" class="btn btn-primary copy-false" onclick="go_to_top()" id="btn-top">
                        <img src="{% static 'dfirtrack_main/icons/arrow-circle-top-light.svg' %}" class="icon copy-false" alt="icon">
                    </button>

            <!-- main content container -->
            </div>

        <!-- main column -->
        </div>

    <!-- main row -->
    </div> 

<!-- overall container -->
</div>

<!-- ############################################ -->

<!-- HTML footer -->
<footer>

<!-- footer container -->
<div class="container-fluid top-distance bottom-distance">

    <!-- link to FAQ -->
    <a href="/faq/" target="blank" type="button" class="btn btn-outline-light btn-sm copy-false">
        FAQ
    </a>

    <!-- link to about page -->
    <a href="/about/" target="blank" type="button" class="btn btn-outline-light btn-sm copy-false">
        About
    </a>

    <!-- link to admin space -->
    <a href="/admin/" target="blank" type="button" class="btn btn-outline-light btn-sm copy-false">
        Admin
    </a>

<!-- footer container -->
</div>

<!-- HTML footer -->
</footer>

<!-- bootstrap relevant javascript -->
<script src="{% static 'dfirtrack_main/jquery-3.2.1/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'dfirtrack_main/popper-1.12.9/popper.min.js' %}"></script>
<script src="{% static 'dfirtrack_main/bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>

<!-- extend datatables javascript where necessary -->
{% block datatables %}
{% endblock %}

<!-- HTML body -->
</body>

</html>
