<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Note {{ note.note_id }}
</title>

{% load static %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

{% load martortags %}

<!-- top buttons -->
<div class="row bottom-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'note_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to notes
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ note.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>
</div>
<!-- top buttons -->

<!-- note title row -->
<div class="row">
    <div class="col-3">
        <h5>
            <div class="top-distance">
                <img src="/static/dfirtrack_main/icons/paperclip-light.svg" class="icon right-distance copy-false" alt="icon">
                {{ note.note_title }}
            </div>
        </h5>
    </div>
    <div class="col-3">
        Version: {{ note.note_version }}
    </div>
</div>

<!-- note id row -->
<div class="row top-distance bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Note-ID: {{ note.note_id }}
        </small>
    </div>
</div>

<!-- ############################################ -->

<!-- tags / case row -->
<div class="row">

    <!-- tags -->
    <div class="col-6">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Tags
        </h5>
        {% if note.tag.all %}
            {% for i in note.tag.all|dictsort:"tag_name" %}
                <!-- tooltip with tag note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ i.tag_note }}">
                    <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-sm btn-{{ i.tagcolor }} round copy-true top-distance">
                        <!-- black tag icon for white tag (black color of font is defined in corresponding CSS for button) -->
                        {% if i.tagcolor.tagcolor_name == 'white' %}
                            <img src="{% static 'dfirtrack_main/icons/tag.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        <!-- white tag icon for other tags (white color of font is defined in corresponding CSS for button) -->
                        {% else %}
                            <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        {% endif %}
                        {{ i }}
                    </a>
                </span>
            {% endfor %}
        {% else %}
            ---
        {% endif %}
    </div>

    <!-- case -->
    <div class="col-6">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Corresponding case
        </h5>
        {% if note.case %}
            <a href="{{ note.case.get_absolute_url }}" type="button" class="btn btn-primary btn-sm bottom-left top-right top-distance copy-true">
                <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                {{ note.case.case_name }}
            </a>
        {% else %}
            ---
        {% endif %}
    </div>

<!-- tags / case row -->
</div>

<!-- ############################################ -->

<!-- note information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- note information headline -->
    <div class="row">
        <div class="col">
            <h5>Note information</h5>
        </div>
    </div>

    <!-- note information row -->
    <div class="row bottom-distance">

        <!-- notestatus -->
        <div class="col-3">
            <div class="font-weight-bold">Notestatus:</div>
            <a href="{{ note.notestatus.get_absolute_url }}">
                {{ note.notestatus.notestatus_name }}
            </a>
        </div>

    <!-- note information row -->
    </div>

<!-- note information end -->
</div>

<!-- ############################################ -->

<!-- note content -->
<div class="card bg-dark border-light card-body top-distance">
        <div class="col markdown-preview top-distance">
            {{note.note_content|safe_markdown}}
        </div>
    </div>
</div>
<!-- note content -->

<!-- ############################################ -->

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
