<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Notes
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Notes
        </h5>
    </div>
</div>

<!-- headlines -->


<!-- datatable notes -->
<table id="table_notes" class="display" width="100%">
    <tr>
        <!-- note id headline -->
        <th>
            ID
        </th>

        <!-- title headline -->
        <th>
            Title
        </th>

        <!-- case name headline -->
        <th>
            Case
        </th>

        <!-- creation headline -->
        <th>
            Created
        </th>

        <!-- modification headline -->
        <th>
            Modified
        </th>
    </tr>

    <!-- table body -->
    <tbody>
        {% for i in note_list %}
        <tr>
            <td>{{i.note_id}}</td>
            <td>
                <a href="{{ i.get_absolute_url }}">
                    {{i.title}}
                </a>
            </td>
            <td>
                {% if i.case %}
                    <a href="{{ i.case.get_absolute_url }}">
                        {{i.case}}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{i.note_create_time|date:"Y-m-d H:i" }}</td>
            <td>{{i.note_modify_time|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-2">
            <h5>Create notes</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">
        
        <div class="col btn-group">
            <!-- add button -->
            <div data-toggle="tooltip" data-placement="auto" title="Create single note.">
                <a href="{% url 'note_add' %}" type="button" class="btn btn-light copy-false right-s-distance">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Add note
                </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
