<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    {{title}} note
</title>

{% load static %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        {{title}} note
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ############################################ -->

    <!-- note_title block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- note_title headline -->
        <div class="row">
            <div class="col-3">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/paperclip-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.note_title.label }}
                </h5>
            </div>
            <div class="col-3">
                {% if note %}
                    Version you are editing: {{ note.note_version }}
                {% endif %}
            </div>
        </div>

        <!-- note_title -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    {{ form.note_title }}
                    {{ form.note_version }}
                </div>
            </div>
        </div>

    <!-- note_title block -->
    </div>

    <!-- ############################################ -->

    <!-- tag / case block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag / case  headline -->
        <div class="row">

            <!-- tags headline -->
            <div class="col-6">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.tag.label }}
                </h5>
            </div>

            <!-- case headline -->
            <div class="col-3">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.case.label }}
                </h5>
            </div>

        <!-- tag / case  headline -->
        </div>

        <!-- tag / case -->
        <div class="row">

            <!-- tags -->
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- tag errors -->
                    <div class="text-danger">
                        {{ form.tag.errors }}
                    </div>
                    {% for i in form.tag %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- case errors -->
                    <div class="text-danger">
                        {{ form.case.errors }}
                    </div>
                    {{ form.case }}
                </div>
            </div>

        <!-- tag / case -->
        </div>

    <!-- tag / case block -->
    </div>

    <!-- ############################################ -->

    <!-- note information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- note information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Note information
                </h5>
            </div>
        </div>

        <!-- notestatus headline row -->
        <div class="row">
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.notestatus.label }}
                </div>
            </div>
        </div>

        <!-- notestatus row -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    {% for i in form.notestatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!-- note information block -->
    </div>

    <!-- ############################################ -->

    <!-- note content block -->
    <div class="card card-body bg-dark border-light top-distance">
        {{ form.note_content }}
    </div>

    <!-- ############################################ -->

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

{% block js %}
    <script src="/static/plugins/js/bootstrap.min.js"></script>
    <script src="/static/plugins/js/ace.js"></script>
    <script src="/static/plugins/js/mode-markdown.js"></script>
    <script src="/static/plugins/js/theme-github.js"></script>
    <script src="/static/plugins/js/highlight.min.js"></script>
    <script src="/static/plugins/js/resizable.min.js"></script>
    <script src="/static/plugins/js/emojis.min.js"></script>
    <script src="/static/martor/js/martor.bootstrap.min.js"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
