<!-- extending mainpopup -->
{% extends "dfirtrack_main/mainpopup.html" %}

<!-- HTML head in mainpopup -->
{% block head %}

<!-- page title -->
<title>
    Add contact
</title>

{% load static %}

<!-- HTML head in mainpopup -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in mainpopup -->
{% block content %}
        
<!-- headline -->
<div class="bottom-distance top-distance">
    <h4>
        Add contact
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- include standard form -->
    {% include "dfirtrack_main/includes/form.html" %}

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel_popup.html" %}

<!-- form -->
</form>
    
<!-- HTML body in mainpopup -->
{% endblock %}
