<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Spreadsheet CSV export config
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Spreadsheet CSV export config
    </h4>
</div>

<!-- explanation text -->
<div class="col-6 card card-body bg-dark border-light top-distance bottom-distance copy-false">
    Define the system attributes for exporting to a CSV file here.
    Note that the system name is mandatory of course.
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- include standard form -->
    {% include "dfirtrack_main/includes/form.html" %}

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
