<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Systems and IPs importer
</title>

{% load staticfiles %}

<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Import systems via CSV
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form" enctype="multipart/form-data">

    <!-- button row -->
    <div class="row">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- general errors -->
    {% if form.non_field.errors %}
        <div class="row">
            <div class="col">
                <div class="text-danger">
                    Non field errors:<br>
                    {{ form.non_field.errors }}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- file block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- file headlines -->
        <div class="row">

            <div class="col-6">
                <h5>
                    CSV with systems (*):
                </h5>
            </div>

            {% if csv_choice_dnsname == False %}
            <div class="col-6">
                <h5>
                    DNS name:
                </h5>
            </div>
            {% endif %}

        <!-- file headlines -->
        </div>

        <!-- file row -->
        <div class="row">

            <!-- file -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- file errors -->
                    <div class="text-danger">
                        {{ form.systemcsv.errors }}
                    </div>
                    {{ form.systemcsv }}
                </div>
            </div>

            <!-- file requirement description -->
            <div class="col-3">
                <p>Shown fields depend on the choice in `dfirtrack.config`.</p>
                <p>Use comma (,) as field delimiter and apostrophe (') to enclose fields.</p>
            </div>

            {% if csv_choice_dnsname == False %}
            <!-- dnsname -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- dnsname errors -->
                    <div class="text-danger">
                        {{ form.dnsname.errors }}
                    </div>
                    {% for i in form.dnsname %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        <!-- file row -->
        </div>

        <!-- button row -->
        <div class="row">

            <!-- placeholder -->
            <div class="col-6">
            </div>

            {% if csv_choice_dnsname == False %}
            <!-- add dnsname button -->
            <div class="col-3">
                <button onclick="dnsname_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add DNS name
                </button>
            </div>
            {% endif %}

        <!-- button row -->
        </div>

    <!-- file block -->
    </div>

    <!-- ############################################ -->

    <!-- tag / case block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag / case headline row -->
        <div class="row">

            {% if csv_choice_tag == False %}
            <!-- tag headline -->
            <div class="col-6">
                <h5>
                    Tags
                </h5>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-6">
            </div>
            {% endif %}

            <!-- case headline -->
            <div class="col-6">
                <h5>
                    Cases
                </h5>
            </div>

        <!-- tag / case headline row -->
        </div>

        <!-- tag / case row -->
        <div class="row">

            {% if csv_choice_tag == False %}
            <!-- tag -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- tag errors -->
                    <div class="text-danger">
                        {{ form.tag.errors }}
                    </div>
                    {% for i in form.tag %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

            <!-- case -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- case errors -->
                    <div class="text-danger">
                        {{ form.case.errors }}
                    </div>
                    {% for i in form.case %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
        <!-- tag / case row -->
        </div>

    <!-- tag / case block -->
    </div>

    <!-- ############################################ -->

    {% if not csv_choice_systemstatus == True or not csv_choice_analysisstatus == True or not csv_choice_reason == True %}
    <!-- status information -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Status information
                </h5>
            </div>
        </div>

        <!-- status information row  -->
        <div class="row">

            {% if csv_choice_systemstatus == False %}
            <!-- systemstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Systemstatus (*):
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_analysisstatus == False %}
            <!-- analysisstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Analysisstatus:
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_reason == False %}
            <!-- reason -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Reason for investigation:
                </div>
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

        <!-- status information row  -->
        </div>

        <!-- status information row  -->
        <div class="row">

            {% if csv_choice_systemstatus == False %}
            <!-- systemstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- systemstatus errors -->
                    <div class="text-danger">
                        {{ form.systemstatus.errors }}
                    </div>
                    {% for i in form.systemstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_analysisstatus == False %}
            <!-- analysisstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.analysisstatus.errors }}
                    </div>
                    {% for i in form.analysisstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_reason == False %}
            <!-- reason -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- reason errors -->
                    <div class="text-danger">
                        {{ form.reason.errors }}
                    </div>
                    {% for i in form.reason %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

        <!-- status information row  -->
        </div>

        <!-- button row -->
        <div class="row">

            {% if csv_choice_reason == False %}
            <!-- placeholder -->
            <div class="col-6">
            </div>
            <!-- add reason button -->
            <div class="col-3">
                <button onclick="reason_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add reason
                </button>
            </div>

            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

        <!-- button row -->
        </div>

    <!-- status information -->
    </div>
    {% endif %}

    <!-- ############################################ -->

    {% if not csv_choice_systemtype == True or not csv_choice_domain == True or not csv_choice_os == True %}
    <!-- technical information -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- technical information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Technical information
                </h5>
            </div>
        </div>

        <!-- technical information row -->
        <div class="row">

            {% if csv_choice_systemtype == False %}
            <!-- systemtype headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Systemtype:
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

            {% if csv_choice_domain == False %}
            <!-- domain headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Domain:
                </div>
            </div>
            {% endif %}

            {% if csv_choice_os == False %}
            <!-- operating system headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Operating system:
                </div>
            </div>
            {% endif %}

        <!-- technical information row -->
        </div>

        <!-- technical information row -->
        <div class="row">

            {% if csv_choice_systemtype == False %}
            <!-- systemtype -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- systemtype errors -->
                    <div class="text-danger">
                        {{ form.systemtype.errors }}
                    </div>
                    {% for i in form.systemtype %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

            {% if csv_choice_domain == False %}
            <!-- domain -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- domain errors -->
                    <div class="text-danger">
                        {{ form.domain.errors }}
                    </div>
                    {% for i in form.domain %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if csv_choice_os == False %}
            <!-- operating system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- operating system -->
                    <div class="text-danger">
                        {{ form.os.errors }}
                    </div>
                    {% for i in form.os %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        <!-- technical information row -->
        </div>

        <!-- button row -->
        <div class="row">

            {% if csv_choice_systemtype == False %}
            <!-- add systemtype button -->
            <div class="col-3">
                <button onclick="systemtype_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add systemtype
                </button>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            <!-- placeholder -->
            <div class="col-3">
            </div>

            {% if csv_choice_domain == False %}
            <!-- add domain button -->
            <div class="col-3">
                <button onclick="domain_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add domain
                </button>
            </div>
            {% endif %}

            {% if csv_choice_os == False %}
            <!-- add operating system button -->
            <div class="col-3">
                <button onclick="os_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add OS
                </button>
            </div>
            {% endif %}

        <!-- button row -->
        </div>

    <!-- technical information -->
    </div>
    {% endif %}

    <!-- ############################################ -->

    {% if not csv_choice_company == True or not csv_choice_location == True or not csv_choice_serviceprovider == True %}
    <!-- company information -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- company information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Company information
                </h5>
            </div>
        </div>

        <!-- company information row -->
        <div class="row">

            {% if csv_choice_company == False %}
            <!-- company headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Company:
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_location == False %}
            <!-- location headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Location:
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_serviceprovider == False %}
            <!-- serviceprovider headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Serviceprovider:
                </div>
            </div>
            {% endif %}

        <!-- company information row -->
        </div>

        <!-- company information row -->
        <div class="row">

            {% if csv_choice_company == False %}
            <!-- company -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- company errors -->
                    <div class="text-danger">
                        {{ form.company.errors }}
                    </div>
                    {% for i in form.company %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_location == False %}
            <!-- location -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- location errors -->
                    <div class="text-danger">
                        {{ form.location.errors }}
                    </div>
                    {% for i in form.location %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_serviceprovider == False %}
            <!-- serviceprovider -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- serviceprovider errors -->
                    <div class="text-danger">
                        {{ form.serviceprovider.errors }}
                    </div>
                    {% for i in form.serviceprovider %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        <!-- company information row -->
        </div>

        <!-- button row -->
        <div class="row">

            {% if csv_choice_company == False %}
            <div class="col-3">
                <button onclick="company_add_popup()" type="button" class="btn btn-light btn-sm top-distance">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm" alt="icon">
                    Add company
                </button>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_location == False %}
            <div class="col-3">
                <button onclick="location_add_popup()" type="button" class="btn btn-light btn-sm top-distance">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm" alt="icon">
                    Add location
                </button>
            </div>
            {% else %}
            <!-- placeholder -->
            <div class="col-3">
            </div>
            {% endif %}

            {% if csv_choice_serviceprovider == False %}
            <div class="col-3">
                <button onclick="serviceprovider_add_popup()" type="button" class="btn btn-light btn-sm top-distance">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm" alt="icon">
                    Add serviceprovider
                </button>
            </div>
            {% endif %}

        <!-- button row -->
        </div>

    <!-- company information -->
    </div>
    {% endif %}

    <!-- ############################################ -->

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
