<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Edit '{{ system.system_name }}{% if system.dnsname %}.{{ system.dnsname.dnsname_name }}{% endif %}'
</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}
        
<!-- headline -->
<div class="bottom-distance">
    <h4>
        Edit system
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

    <!-- ############################################ -->

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ############################################ -->

    <!-- system name block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- system name headline row -->
        <div class="row">

            <!-- show editable field if system_name_editable in dfirtrack_config is true -->
            {% if system_name_edit == True %}

                <!-- system name headline -->
                <div class="col-3">
                    <h5>
                        <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                        {{ form.system_name.label }}
                    </h5>
                </div>

            <!-- show placeholder otherwise -->
            {% else %}

                <!-- placeholder -->
                <div class="col-3">
                </div>

            {% endif %}

            <!-- dnsname headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.dnsname.label }}
                </div>
            </div>

            <!-- placeholder -->
            <div class="col-3">
            </div>

        <!-- system name headline row -->
        </div>

        <!-- system name row -->
        <div class="row">

            <!-- system name -->
            <div class="col-3">

                    <!-- show editable field if system_name_editable in dfirtrack_config is true -->
                    {% if system_name_edit == True %}
                        <div class="card card-body bg-dark border-light top-distance">
                            <!-- system name errors -->
                            <div class="text-danger">
                                {{ form.system_name.errors }}
                            </div>
                            {{ form.system_name }}
                        </div>

                    <!-- show system_name only otherwise -->
                    {% else %}
                        <div class="btn btn-primary btn-lg copy-true">
                            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                            {{ system.system_name }}
                        </div>
                    {% endif %}

            <!-- system name -->
            </div>

            <!-- dnsname -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- dnsname errors -->
                    <div class="text-danger">
                        {{ form.dnsname.errors }}
                    </div>
                    {{ form.dnsname }}
                </div>
            </div>

            <!-- placeholder -->
            <div class="col-3">
            </div>

            <!-- system export values -->
            <div class="col-3">

                <table>

                    <!-- system export markdown -->
                    <tr>
                        <td>
                            <span class="font-weight-bold right-distance">
                                {{ form.system_export_markdown.label }}
                            </span>
                        </td>
                        <td>
                            {{ form.system_export_markdown }}
                        </td>
                    </tr>

                    <!-- system export spreadsheet -->
                    <tr>
                        <td>
                            <span class="font-weight-bold right-distance">
                                {{ form.system_export_spreadsheet.label }}
                            </span>
                        </td>
                        <td>
                            {{ form.system_export_spreadsheet }}
                        </td>
                    </tr>

                </table>

            <!-- export values -->
            </div>

        <!-- system name row -->
        </div>

        <!-- button row -->
        <div class="row">

            <!-- placeholder -->
            <div class="col-3">
            </div>

            <!-- dnsname add button -->
            <div class="col-3">
                <button onclick="dnsname_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add DNS name
                </button>
            </div>

        <!-- button row -->
        </div>

    <!-- system name block -->
    </div>

    <!-- ############################################ -->

    <!-- tags / cases block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tags / cases headline row -->
        <div class="row">

            <!-- tags headline -->
            <div class="col-6">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.tag.label }}
                </h5>
            </div>

            <!-- cases headline -->
            <div class="col-6">
                <h5>
                    <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                    {{ form.case.label }}
                </h5>
            </div>

        <!-- tags / cases headline row -->
        </div>

        <!-- tags / cases row -->
        <div class="row">

            <!-- tags -->
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- tags errors -->
                    <div class="text-danger">
                        {{ form.tag.errors }}
                    </div>
                    {{ form.tag }}
                </div>
            </div>

            <!-- cases -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- cases errors -->
                    <div class="text-danger">
                        {{ form.case.errors }}
                    </div>
                    {% for i in form.case %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- tags / cases row -->
        </div>

    <!-- tags / cases block -->
    </div>

    <!-- ############################################ -->

    <!-- status information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline row -->
        <div class="row">
            <div class="col">
                <h5>
                    Status information
                </h5>
            </div>
        </div>

        <!-- status information headlines row -->
        <div class="row">

            <!-- systemstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.systemstatus.label }}
                </div>
            </div>

            <!-- systemstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.analysisstatus.label }}
                </div>
            </div>

            <!-- reason headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.reason.label }}
                </div>
            </div>

            <!-- recommendation headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.recommendation.label }}
                </div>
            </div>

        <!-- status information headlines row -->
        </div>

        <!-- status information row -->
        <div class="row">

            <!-- systemstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- systemstatus errors -->
                    <div class="text-danger">
                        {{ form.systemstatus.errors }}
                    </div>
                    {% for i in form.systemstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- analysisstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.analysisstatus.errors }}
                    </div>
                    {% for i in form.analysisstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- reason -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- reason errors -->
                    <div class="text-danger">
                        {{ form.reason.errors }}
                    </div>
                    {{ form.reason }}
                </div>
            </div>

            <!-- recommendation -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- recommendation errors -->
                    <div class="text-danger">
                        {{ form.recommendation.errors }}
                    </div>
                    {{ form.recommendation }}
                </div>
            </div>

        <!-- status information row -->
        </div>

        <!-- button row -->
        <div class="row">

            <!-- placeholder -->
            <div class="col-6">
            </div>

            <!-- reason add button -->
            <div class="col-3">
                <button onclick="reason_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add reason
                </button>
            </div>

            <!-- recommendation add button -->
            <div class="col-3">
                <button onclick="recommendation_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add recommendation
                </button>
            </div>

        <!-- button row -->
        </div>

    <!-- status information block -->
    </div>

    <!-- ############################################ -->

    <!-- technical information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- technical information headline row -->
        <div class="row">
            <div class="col">
                <h5>
                    Technical information
                </h5>
            </div>
        </div>

        <!-- technical information headlines row -->
        <div class="row">

            <!-- systemtype headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.systemtype.label }}
                </div>
            </div>

            <!-- ip addresses headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.iplist.label }}
                </div>
            </div>

            <!-- domain headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.domain.label }}
                </div>
            </div>

            <!-- operating system headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.os.label }}
                </div>
            </div>

        <!-- technical information headlines row -->
        </div>

        <!-- technical information row -->
        <div class="row">

            <!-- systemtype -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- systemtype errors -->
                    <div class="text-danger">
                        {{ form.systemtype.errors }}
                    </div>
                    {{ form.systemtype }}
                </div>
            </div>

            <!-- ip addresses -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- ip addresses errors -->
                    <div class="text-danger">
                        {{ form.iplist.errors }}
                    </div>
                    {{ form.iplist }}<br>
                </div>
            </div>

            <!-- domain -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- domain errors -->
                    <div class="text-danger">
                        {{ form.domain.errors }}
                    </div>
                    {{ form.domain }}
                </div>
            </div>

            <!-- operating system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <div class="text-danger">
                        {{ form.os.errors }}
                    </div>
                    {{ form.os }}
                </div>
            </div>

        <!-- technical information row -->
        </div>

        <!-- button row -->
        <div class="row bottom-distance">

            <!-- systemtype add button -->
            <div class="col-3">
                <button onclick="systemtype_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add systemtype
                </button>
            </div>

            <!-- placeholder -->
            <div class="col-3">
            </div>

            <!-- domain add button -->
            <div class="col-3">
                <button onclick="domain_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add domain
                </button>
            </div>

            <!-- operating system add button -->
            <div class="col-3">
                <button onclick="os_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add OS
                </button>
            </div>

        <!-- button row -->
        </div>

        <!-- technical information headlines row -->
        <div class="row">

            <!-- installation time headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.system_install_time.label }}
                </div>
            </div>

            <!-- last boot time headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.system_lastbooted_time.label }}
                </div>
            </div>

            <!-- deprecated time headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.system_deprecated_time.label }}
                </div>
            </div>

            <!-- operating system architecture headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.osarch.label }}
                </div>
            </div>

        <!-- technical information headlines row -->
        </div>

        <!-- technical information row -->
        <div class="row">

            <!-- installation time -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- installation time errors -->
                    <div class="text-danger">
                        {{ form.system_install_time.errors }}
                    </div>
                    {{ form.system_install_time }}
                </div>
            </div>

            <!-- last boot time -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- last boot time errors -->
                    <div class="text-danger">
                        {{ form.system_lastbooted_time.errors }}
                    </div>
                    {{ form.system_lastbooted_time }}
                </div>
            </div>

            <!-- deprecated time -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- deprecated time errors -->
                    <div class="text-danger">
                        {{ form.system_deprecated_time.errors }}
                    </div>
                    {{ form.system_deprecated_time }}
                </div>
            </div>

            <!-- operating system architecture -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- operating system architecture errors -->
                    <div class="text-danger">
                        {{ form.osarch.errors }}
                    </div>
                    {{ form.osarch }}
                </div>
            </div>

        <!-- technical information row -->
        </div>

    <!-- technical information block -->
    </div>

    <!-- ############################################ -->

    <!-- virtualization information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- virtualization information headline row -->
        <div class="row">
            <div class="col">
                <h5>
                    Virtualization information
                </h5>
            </div>
        </div>

        <!-- virtualization information headlines row -->
        <div class="row">

            <!-- vm -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.system_is_vm.label }}
                </div>
            </div>

            <!-- host system -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.host_system.label }}
                </div>
            </div>

        <!-- virtualization information headlines row -->
        </div>

        <!-- virtualization information row -->
        <div class="row">

            <!-- vm -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- vm errors -->
                    <div class="text-danger">
                        {{ form.system_is_vm.errors }}
                    </div>
                    {{ form.system_is_vm }}
                </div>
            </div>

            <!-- host system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- host system errors -->
                    <div class="text-danger">
                        {{ form.host_system.errors }}
                    </div>
                    {{ form.host_system }}
                </div>
            </div>

        <!-- virtualization information row -->
        </div>

    <!-- virtualization information block -->
    </div>

    <!-- ############################################ -->

    <!-- company information block -->
    <div class="card card-body bg-dark border-light bottom-distance top-distance">

        <!-- company information headline row -->
        <div class="row">
            <div class="col">
                <h5>
                    Company information
                </h5>
            </div>
        </div>

        <!-- company information headlines row -->
        <div class="row">

            <!-- company headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.company.label }}
                </div>
            </div>

            <!-- location headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.location.label }}
                </div>
            </div>

            <!-- serviceprovider headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.serviceprovider.label }}
                </div>
            </div>

            <!-- contact headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.contact.label }}
                </div>
            </div>

        <!-- company information headlines row -->
        </div>

        <!-- company information row -->
        <div class="row">

            <!-- company -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- company errors -->
                    <div class="text-danger">
                        {{ form.company.errors }}
                    </div>
                    {% for i in form.company %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- location -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- location errors -->
                    <div class="text-danger">
                        {{ form.location.errors }}
                    </div>
                    {{ form.location }}
                </div>
            </div>

            <!-- serviceprovider -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- serviceprovider errors -->
                    <div class="text-danger">
                        {{ form.serviceprovider.errors }}
                    </div>
                    {{ form.serviceprovider }}
                </div>
            </div>

            <!-- contact -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- contact errors -->
                    <div class="text-danger">
                        {{ form.contact.errors }}
                    </div>
                    {{ form.contact }}
                </div>
            </div>

        <!-- company information row -->
        </div>

        <!-- button row -->
        <div class="row">

            <!-- company add button -->
            <div class="col-3">
                <button onclick="company_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add company
                </button>
            </div>

            <!-- location add button -->
            <div class="col-3">
                <button onclick="location_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add location
                </button>
            </div>

            <!-- serviceprovider add button -->
            <div class="col-3">
                <button onclick="serviceprovider_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add serviceprovider
                </button>
            </div>

            <!-- contact add button -->
            <div class="col-3">
                <button onclick="contact_add_popup()" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add contact
                </button>
            </div>

        <!-- button row -->
        </div>

    <!-- company information block -->
    </div>

    <!-- ############################################ -->

    <!-- row save cancel -->
    {% include "dfirtrack_main/includes/row_save_cancel.html" %}

<!-- form -->
</form>
    
<!-- HTML body in maintemplate -->
{% endblock %}
