{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>Analysisstatus '{{ analysisstatus.analysisstatus_name }}'{% if analysisstatus.system_set.all %} (s: {{ analysisstatus.system_set.all|length }}){% endif %}</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/analysisstatuss" type="button" class="btn btn-light"><img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">  Up to analysisstatus</a>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h5>Analysisstatus "{{ analysisstatus.analysisstatus_name }}"</h5>
    </div>
    <div class="col-3">
        <small class="text-muted">
            Analysisstatus-ID: {{ analysisstatus.analysisstatus_id }}
        </small>
    </div>
</div>

<div class="row">
    <div class="col-3">
    <br>
        <h5>Note</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if analysisstatus.analysisstatus_note %}
        {{ analysisstatus.analysisstatus_note|linebreaks }}
        {% else %}
        ---
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
    <br>
        <h5>Systems with this analysisstatus{% if analysisstatus.system_set.all %} ({{ analysisstatus.system_set.all|length }}){% endif %}</h5>
    </div>
</div>

{% if analysisstatus.system_set.all %}
{% for i in analysisstatus.system_set.all %}
<div class="row top-distance">
    <div class="col-3">
        <a href="/systems/{{ i.system_id}}" type="button" class="btn btn-primary btn-sm"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm" alt="icon">  {{ i.system_name }}</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>
{% endif %}

{% endblock %}
