{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Analysisstatus</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

        <div class="row">
            <div class="col">
                <h5>Analysisstatus</h5>
            </div>
        </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-2">Analysisstatus</div>
            <div class="col-8">Note</div>
        </div>

    {% for i in object_list %}
        <div class="row">
            <div class="col-1">
                {{ i.analysisstatus_id }}
            </div>
            <div class="col-2">
                <a href="/analysisstatuss/{{ i.analysisstatus_id }}">{{ i.analysisstatus_name }}</a>
            </div>
            <div class="col-9">
                {% if i.analysisstatus_note %}
                {{ i.analysisstatus_note|linebreaks }}
                {% else %}
                ---
                {% endif %}
            </div>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}
