{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Taskpriorities</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Taskpriorities</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-10">Taskpriority</div>
        </div>

    {% for i in object_list %}
        <div class="row top-distance">
            <div class="col-1">{{ i.taskpriority_id }}</div>
            <div class="col-11">
                <a href="/taskprioritys/{{ i.taskpriority_id }}">
                {% if i.taskpriority_name == 'High' %}
                {% include "dfirtrack_main/includes/button_taskpriority_high.html" %}
                {% endif %}
                {% if i.taskpriority_name == 'Medium' %}
                {% include "dfirtrack_main/includes/button_taskpriority_medium.html" %}
                {% endif %}
                {% if i.taskpriority_name == 'Low' %}
                {% include "dfirtrack_main/includes/button_taskpriority_low.html" %}
                {% endif %}
                {{ i.taskpriority_name }}
                </a>
            </div>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}
