{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Tasknames</title>
{% load staticfiles %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Tasknames</h5>
        </div>
    </div>

        <div class="row font-weight-bold">
            <div class="col-1">ID</div>
            <div class="col-10">Taskname</div>
        </div>

    {% for i in object_list %}
        <div class="row">
            <div class="col-1">{{ i.taskname_id }}</div>
            <div class="col-10">
                <a href="/tasknames/{{ i.taskname_id }}">{{ i.taskname_name }}</a>
            </div>
            <div class="col-1">
                <a href="/tasknames/{{ i.taskname_id }}/edit">Edit</a>
            </div>
            <br><br>
        </div>
    {% endfor %}

    <br><br>
    <div class="row">
        <div class="col-1">
            <a href="/tasknames/add" type="button" class="btn btn-light"><img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon" alt="icon">  Add taskname</a>
        </div>
    </div>

{% endblock %}
