<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Casepriority
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Casepriority
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- casepriority id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- casepriority name headline -->
    <div class="col-2">
        Casepriority
    </div>

    <!-- case headline -->
    <div class="col-1">
        Cases
    </div>

    <!-- casepriority note headline -->
    <div class="col-7">
        Note
    </div>

<!-- headlines -->
</div>

<!-- casepriority list -->
{% for i in casepriority_list %}

    <!-- casepriority row -->
    <div class="row top-distance">

        <!-- casepriority id -->
        <div class="col-1">
            {{ i.casepriority_id }}
        </div>

        <!-- casepriority name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.casepriority_name }}
            </a>
        </div>

        <!-- case -->
        <div class="col-1">
            {{ i.case_set.all|length }}
        </div>

        <!-- casepriority note -->
        <div class="col-8">
            {% if i.casepriority_note %}
                {{ i.casepriority_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

    <!-- casepriority row -->
    </div>

<!-- casepriority list -->
{% endfor %}

<!-- HTML body in maintemplate -->
{% endblock %}
