{% load static %}
<!--
FOR NEW PRIORITIES ADD NEW BUTTONS HERE
-->

<!-- priority '30_high' -->
{% if priority_name == '30_high' %}
    <div class="btn btn-primary btn-sm btn-red copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-top.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- priority '20_medium' -->
{% elif priority_name == '20_medium' %}
    <div class="btn btn-primary btn-sm btn-orange copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-right.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- priority '10_low' -->
{% elif priority_name == '10_low' %}
    <div class="btn btn-primary btn-sm btn-green copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-bottom.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

{% endif %}
