{% load staticfiles %}
                <a href="/systemstatuss/{{ i.systemstatus.systemstatus_id }}"
                {% if i.systemstatus.systemstatus_name == 'Clean' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Removed' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/trash-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Reinstalled' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Remediation done' %}
                class="btn btn-green btn-sm round"><img src="{% static 'dfirtrack_main/icons/shield-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Analysis ongoing' %}
                class="btn btn-orange btn-sm round"><img src="{% static 'dfirtrack_main/icons/pulse-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Unknown' %}
                class="btn btn-orange btn-sm round"><img src="{% static 'dfirtrack_main/icons/flag-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Not analyzed' %}
                class="btn btn-orange btn-sm round"><img src="{% static 'dfirtrack_main/icons/ban-light.svg' %}" class="icon-sm" alt="icon">
                {% elif i.systemstatus.systemstatus_name == 'Compromised' %}
                class="btn btn-red btn-sm round"><img src="{% static 'dfirtrack_main/icons/fire-light.svg' %}" class="icon-sm" alt="icon">
                {% else %}
                >
                {% endif %}
                    {{ i.systemstatus.systemstatus_name }}
                </a>
