<!-- table head for datatable note -->

<!-- table row -->
<tr>

    <!-- note id headline -->
    <th>
        ID
    </th>

    <!-- note title headline -->
    <th>
        Title
    </th>

    <!-- note version headline -->
    <th>
        Version
    </th>

    <!-- notestatus headline -->
    <th>
        Notestatus
    </th>

    <!-- case name headline -->
    <th>
        Case
    </th>

    <!-- creation time headline -->
    <th>
        Created
    </th>

    <!-- modification time headline -->
    <th>
        Modified
    </th>

<!-- table row -->
</tr>
