<!-- table head for datatable task -->

<!-- table row -->
<tr>

    <!-- task id headline -->
    <th>
        ID
    </th>

    <!-- task name headline -->
    <th>
        Task
    </th>

    <!-- note headline -->
    <th>
        Note
    </th>

    <!-- task user headline -->
    <th>
        User
    </th>

    <!-- taskstatus headline -->
    <th>
        Taskstatus
    </th>

    <!-- placeholder for button -->
    <th>
    </th>

    <!-- taskpriority headline -->
    <th>
        Taskpriority
    </th>

    <!-- finished headline -->
    <th>
        Finished
    </th>

<!-- table row -->
</tr>
