<!-- table body for datatable reportitem -->

{% load static %}

<!-- table row -->
<!-- (just one row, iterating over rows is done outside of this include file) -->
<tr>

    <!-- reportitem id -->
    <td>
        {{ i.reportitem_id }}
    </td>

    <!-- system -->
    <td>
        <a href="{{ i.system.get_absolute_url }}" type="button" class="btn btn-primary btn-sm top-distance copy-true">
            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
            {{ i.system.system_name }}
        </a>
    </td>

    <!-- reportitem headline and subheadline -->
    <td>
        <a href="{{ i.get_absolute_url }}">
            {{ i.headline }} - {{ i.reportitem_subheadline }}
        </a>
    </td>

    <!-- reportitem create time -->
    <td>
        {{ i.reportitem_create_time|date:"Y-m-d H:i" }}
    </td>

    <!-- reportitem create user -->
    <td>
        {{ i.reportitem_created_by_user_id }}
    </td>

    <!-- reportitem modify time -->
    <td>
        {{ i.reportitem_modify_time|date:"Y-m-d H:i" }}
    </td>

    <!-- reportitem modify user -->
    <td>
        {{ i.reportitem_modified_by_user_id }}
    </td>

<!-- table row -->
</tr>
