{% load staticfiles %}
<tr>
        <td>{{ i.system_id }}</td>
        <td><a href="/systems/{{ i.system_id }}" type="button" class="btn btn-primary btn-sm top-distance"><img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon" alt="icon">  {{ i.system_name }}</a></td>
        <td>
	{% with systemstatus=i.systemstatus %}
	{% include "dfirtrack_main/includes/button_systemstatus.html" %}
	{% endwith %}
        </td>
        <td>
                {% if i.analysisstatus %}
                <a href="/analysisstatuss/{{ i.analysisstatus.analysisstatus_id }}">{{ i.analysisstatus }}</a>
                {% else %}
                ---
                {% endif %}
        </td>
<td class="text-muted">{{ i.system_create_time|date:"Y-m-d H:i" }}</td>
<td class="text-muted">{{ i.system_modify_time|date:"Y-m-d H:i" }}</td>
</tr>
