<!-- table head for datatable reportitem -->

<!-- table row -->
<tr>

    <!-- reportitem id headline -->
    <th>
        ID
    </th>

    <!-- reportitem headline headline -->
    <th>
        Headline
    </th>

    <!-- reportitem subheadline headline -->
    <th>
        Subheadline
    </th>

    <!-- notestatus headline -->
    <th>
        Notestatus
    </th>

    <!-- system headline -->
    <th>
        System
    </th>

    <!-- reportitem create time headline -->
    <th>
        Created
    </th>

    <!-- reportitem modify time headline -->
    <th>
        Modified
    </th>

<!-- table row -->
</tr>
