<!-- table head for datatable reportitem -->

<!-- table row -->
<tr>

    <!-- reportitem id headline -->
    <th>
        ID
    </th>

    <!-- system headline -->
    <th>
        System
    </th>

    <!-- reportitem headline and subheadline headline -->
    <th>
        Reportitem
    </th>

    <!-- reportitem create time headline -->
    <th>
        Created
    </th>

    <!-- reportitem create user headline -->
    <th>
        Created by
    </th>

    <!-- reportitem modify time headline -->
    <th>
        Modified
    </th>

    <!-- reportitem modify user headline -->
    <th>
        Modified by
    </th>

<!-- table row -->
</tr>
