<!-- table head for datatable case -->

<!-- table row -->
<tr>

    <!-- case id headline -->
    <th>
        ID
    </th>

    <!-- case id external headline -->
    <th>
        External ID
    </th>

    <!-- case name headline -->
    <th>
        Case
    </th>

    <!-- casestatus headline -->
    <th>
        Casestatus
    </th>

    <!-- casepriority headline -->
    <th>
        Casepriority
    </th>

    <!-- casetype headline -->
    <th>
        Casetype
    </th>

    <!-- system headline -->
    <th>
        Systems
    </th>

    <!-- case start time headline -->
    <th>
        Start
    </th>

    <!-- case end time headline -->
    <th>
        End
    </th>

    <!-- case create time headline -->
    <th>
        Created
    </th>

    <!-- case modify time headline -->
    <th>
        Modified
    </th>

<!-- table row -->
</tr>
