<!-- table head for datatable tag -->

<!-- table row -->
<tr>

    <!-- tag id headline -->
    <th>
        ID
    </th>

    <!-- tag name headline -->
    <th>
        Tag
    </th>

    <!-- system headline -->
    <th>
        Systems
    </th>

    <!-- artifact headline -->
    <th>
        Artifacts
    </th>

    <!-- case headline -->
    <th>
        Cases
    </th>

    <!-- task headline -->
    <th>
        Tasks
    </th>

    <!-- note headline -->
    <th>
        Notes
    </th>

    <!-- reportitem headline -->
    <th>
        Reportitems
    </th>

    <!-- modified headline -->
    <th>
        Modified by
    </th>

<!-- table row -->
</tr>
