<!-- table head for datatable task -->

<!-- table row -->
<tr>

    <!-- task id headline -->
    <th>
        ID
    </th>

    <!-- task name headline -->
    <th>
        Task
    </th>

    <!-- system headline -->
    <th>
        System
    </th>

    <!-- artifact headline -->
    <th>
        Artifact
    </th>

    <!-- case headline -->
    <th>
        Case
    </th>

    <!-- task user headline -->
    <th>
        User
    </th>

    <!-- taskstatus headline -->
    <th>
        Taskstatus
    </th>

    <!-- taskpriority headline -->
    <th>
        Taskpriority
    </th>

    <!-- task create date headline -->
    <th>
        Created
    </th>

    <!-- task modify date headline -->
    <th>
        Modified
    </th>

<!-- table row -->
</tr>
