{% load static %}

<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-5:" == "task/" %}active{% endif %}" href="{% url 'task_list' %}">
        Open tasks
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-7:" == "closed/" %}active{% endif %}" href="{% url 'task_closed' %}">
        Closed tasks
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-4:" == "all/" %}active{% endif %}" href="{% url 'task_all' %}">
        All tasks
    </a>
    </li>
</ul>
