{% load static %}

<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-5:" == "case/" %}active{% endif %}" href="{% url 'case_list' %}">
        Open cases
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-7:" == "closed/" %}active{% endif %}" href="{% url 'case_closed' %}">
        Closed cases
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.path|slice:"-4:" == "all/" %}active{% endif %}" href="{% url 'case_all' %}">
        All cases
    </a>
    </li>
</ul>