<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Notestatus '{{ notestatus.notestatus_name }}'{% if notestatus.notestatus.all %} (s: {{ notestatus.notestatus.all|length }}){% endif %}
</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'notestatus_list' %}" type="button" class="btn btn-light">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">
            Up to notestatus
        </a>
    </div>
</div>

<!-- headline row -->
<div class="row">

    <!-- headline -->
    <div class="col-3">
        <h5>
            Notestatus "{{ notestatus.notestatus_name }}"
	</h5>
    </div>

<!-- headline row -->
</div>

<!-- notestatus id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Notestatus-ID: {{ notestatus.notestatus_id }}
        </small>
    </div>
</div>

<!-- notestatus note headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- notestatus note -->
<div class="row bottom-distance">
    <div class="col">
        {% if notestatus.notestatus_note %}
            {{ notestatus.notestatus_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- note headline -->
<div class="row">
    <div class="col-6">
        <h5>
            Notes with this status{% if notestatus.notestatus.all %} ({{ notestatus.notestatus.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- notes -->
{% if notestatus.note_set.all %}

    {% for i in notestatus.note_set.all %}
        <div class="row top-distance">
            <div class="col-3">
                <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm copy-true">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    {{ i.note_title }}
                </a>
            </div>
        </div>
    {% endfor %}

<!-- no notes -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- notes -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
