<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Tags
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
{% load dfirtrack_main_tags %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.css"/>
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.js"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Tags
        </h5>
    </div>
</div>

<!-- datatable tag -->
<table id="table_tag" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_main/includes/datatable_thead_table_tag.html" %}
    </thead>

    <!-- table body -->
    <tbody>
        {% for i in tag_list %}
            {% include "dfirtrack_main/includes/datatable_tbody_table_tag.html" %}
        {% endfor %}
    </tbody>

</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-2">
            <h5>Create tags</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <div class="col btn-group">
            <!-- add button -->
            <div data-toggle="tooltip" data-placement="auto" title="Create single tag.">
                <a href="{% url 'tag_create' %}" type="button" class="btn btn-light copy-false right-s-distance">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Add tag
                </a>
            </div>

            <!-- creator button -->
            <div data-toggle="tooltip" data-placement="auto" title="Create many tag-to-system relations.">
                <a href="{% url 'tag_creator' %}" type="button" class="btn btn-light copy-false right-s-distance">
                    <img src="{% static 'dfirtrack_main/icons/box.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Creator
                </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.js"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
