<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Tag '{{ tag.tag_name }}' (s: {{ tag.system_set.all|length }}, a: {{ tag.artifact_tag.all|length }}, c: {{ tag.case_set.all|length }}, t: {{ tag.task_set.all|length }})
</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.11.5/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.11.5/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'tag_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to tags
        </a>
    </div>
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- tag name row -->
<div class="row">

    <!-- tag name -->
    <div class="col-6">
        <div class="btn btn-{{ tag.tagcolor }} btn-lg round copy-true">
            <!-- black tag icon for white tag (black color of font is defined in corresponding CSS for button) -->
            {% if tag.tagcolor.tagcolor_name == 'white' %}
                <img src="{% static 'dfirtrack_main/icons/tag.svg' %}" class="icon right-distance copy-false" alt="icon">
            <!-- white tag icon for other tags (white color of font is defined in corresponding CSS for button) -->
            {% else %}
                <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {% endif %}
            {{ tag.tag_name }}
        </div>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if tag.system_set.all %}
            {% with systems=tag.system_set.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- tag name row -->
</div>

<!-- tag id / meta information row -->
<div class="row bottom-distance top-distance">

    <!-- tag id -->
    <div class="col-3">
        <small class="text-muted">
            Tag-ID: {{ tag.tag_id }}
        </small>
    </div>

    <!-- tag modify user -->
    <div class="col-3">
        <small class="text-muted">
            Modified by:
            {% if tag.tag_modified_by_user_id %}
                {% include "dfirtrack_main/includes/username.html" with user=tag.tag_modified_by_user_id %}
            {% else %}
                ---
            {% endif %}
        </small>
    </div>

<!-- tag id / meta information row -->
</div>

<!-- user row -->
<div class="row">

    <!-- assigned user -->
    <div class="col-2">
        <div class="font-weight-bold">
            <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Assigned to user:
        </div>
        {% if tag.tag_assigned_to_user_id %}
            {% include "dfirtrack_main/includes/username.html" with user=tag.tag_assigned_to_user_id %}
        {% else %}
            ---
        {% endif %}
    </div>

    <!-- grab / free user assignment button -->
    <div class="col-3">

        <!-- grab button -->
        {% if not tag.tag_assigned_to_user_id %}
            <a href="{{ tag.get_set_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/person.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Grab
            </a>

        <!-- free button -->
        {% else %}
            <a href="{{ tag.get_unset_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/delete.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Free
            </a>
        {% endif %}

    <!-- grab / free user assignment button -->
    </div>

<!-- user row -->
</div>

<!-- tag note headline -->
<div class="row top-distance">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- tag note -->
<div class="row bottom-distance">
    <div class="col">
    {% if tag.tag_note %}
        {{ tag.tag_note|linebreaks }}
    {% else %}
        ---
    {% endif %}
    </div>
</div>

<!-- system block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- system headline -->
    <div class="row bottom-distance">
        <div class="col-6">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Systems with this tag{% if tag.system_set.all %} ({{ tag.system_set.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- javascript for datatables -->
    <script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

    <!-- systems -->
    {% if tag.system_set.all %}
        <!-- datatable system -->
        <table id="table_system" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
            </thead>

            <!-- table body -->
            <tbody>
            </tbody>

        <!-- datatable system -->
        </table>



    <!-- no systems -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- systems -->
    {% endif %}

<!-- system block -->
</div>

<!-- artifact block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- artifact headline -->
    <div class="row bottom-distance">
        <div class="col-6">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/bug-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Artifacts with this tag{% if tag.artifact_tag.all %} ({{ tag.artifact_tag.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- artifacts -->
    {% if tag.artifact_tag.all %}

        <!-- datatable artifact -->
        <table id="table_artifact" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% for i in tag.artifact_tag.all %}
                    {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
                {% endfor %}
            </tbody>

        <!-- datatable artifact -->
        </table>

        <!-- javascript for datatables -->
        <script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

    <!-- no artifacts -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- artifacts -->
    {% endif %}

<!-- artifact block -->
</div>

<!-- case block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- case headline -->
    <div class="row bottom-distance">
        <div class="col-6">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Cases with this tag{% if tag.case_set.all %} ({{ tag.case_set.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- cases -->
    {% if tag.case_set.all %}

        <!-- datatable case -->
        <table id="table_case" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_case.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% for i in tag.case_set.all %}
                    {% include "dfirtrack_main/includes/datatable_tbody_table_case.html" %}
                {% endfor %}
            </tbody>

        <!-- datatable case -->
        </table>

    <!-- no cases -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- cases -->
    {% endif %}

<!-- case block -->
</div>

<!-- task block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- task headline -->
    <div class="row bottom-distance">
        <div class="col-6">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Tasks with this tag{% if tag.task_set.all %} ({{ tag.task_set.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- tasks -->
    {% if tag.task_set.all %}

        <!-- datatable task -->
        <table id="table_task" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_task.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% for i in tag.task_set.all %}
                    {% include "dfirtrack_main/includes/datatable_tbody_table_task.html" %}
                {% endfor %}
            </tbody>

        <!-- datatable task -->
        </table>

    <!-- no tasks -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- tasks -->
    {% endif %}

<!-- task block -->
</div>

<!-- button row -->
<div class="row top-distance">

    <!-- edit button -->
    <div class="col-1">
        <a href="{{ tag.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

    <!-- delete button -->
    <div class="col-1">
        <a href="{{ tag.get_delete_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/trash.svg' %}" class="icon right-distance copy-false" alt="icon">
            Delete
        </a>
    </div>

<!-- button row -->
</div>

<!-- javascript for datatables -->
{% block datatables %}
    <script src="{% static 'dfirtrack_main/datatables-1.11.5/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
