{% extends "dfirtrack_main/maintemplate.html" %}

{% block head %}
<title>DFIRTrack - Tags</title>
{% load staticfiles %}
{% endblock %}

{% block content %}
        
    <h4>Delete tag</h4><br><br>
	<form method="post">{% csrf_token %}
	    <h4>Delete tag 
        	<div class="btn btn-{{ tag.tagcolor }} btn-lg round"><img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon" alt="icon">  {{ tag.tag_name }}</div>
	    ?</h4>
        <br><br>

        <div class="row">
            <div class="col-1">
                {% include "dfirtrack_main/includes/button_save.html" %}
            </div>
            <div class="col-1">
                {% include "dfirtrack_main/includes/button_cancel.html" %}
            </div>
        </div>

    </form>
    
{% endblock %}
