"""
Django settings for DFIRTrack project provided with Ansible.

These settings extend the default dfirtrack.settings.
"""

SECRET_KEY = '{{ secret_key }}'

DEBUG = False

SESSION_COOKIE_SECURE = True

ALLOWED_HOSTS = ['{{ fqdn }}', 'localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ postgresql_database }}',
        'USER': '{{ postgresql_user }}',
        'PASSWORD': '{{ postgresql_user_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

STATIC_ROOT = '{{ www_dir }}/static/'

DATA_UPLOAD_MAX_NUMBER_FIELDS = 10000
