"""
Django settings for DFIRTrack project provided with Ansible.

These settings extend the default dfirtrack.settings.
"""

SECRET_KEY = '{{ secret_key }}'

# change to 'True' if no static files are shown using the development server, DON'T DO IN PRODUCTION
DEBUG = False

# change to 'False' if no login is possible using the development server, DON'T DO IN PRODUCTION
SESSION_COOKIE_SECURE = True

ALLOWED_HOSTS = ['{{ fqdn }}', 'localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ postgresql_database }}',
        'USER': '{{ postgresql_user }}',
        'PASSWORD': '{{ postgresql_user_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

STATIC_ROOT = '{{ www_dir }}/static/'

DATA_UPLOAD_MAX_NUMBER_FIELDS = 10000

# OIDC authentication settings
OIDC_ENABLED = {{ oidc_enabled | default('False') }}
OIDC_RP_CLIENT_ID = '{{ oidc_rp_client_id | default("") }}'
OIDC_RP_CLIENT_SECRET = '{{ oidc_rp_client_secret | default("") }}'
OIDC_OP_AUTHORIZATION_ENDPOINT = '{{ oidc_op_authorization_endpoint | default("") }}'
OIDC_OP_TOKEN_ENDPOINT = '{{ oidc_op_token_endpoint | default("") }}'
OIDC_OP_USER_ENDPOINT = '{{ oidc_op_user_endpoint | default("") }}'
OIDC_OP_JWKS_ENDPOINT = '{{ oidc_op_jwks_endpoint | default("") }}'
OIDC_RP_SIGN_ALGO = '{{ oidc_rp_sign_algo | default("RS256") }}'
SITE_URL = '{{ site_url | default("") }}'
OIDC_CREATE_USER = {{ oidc_create_user | default('False') }}
