<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Delete Workflow '{{ workflow.workflow_name }}'
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Delete workflow
    </h4>
</div>

<!-- form -->
<form method="post">

    {% csrf_token %}

    <!-- question -->
    <div class="bottom-distance">
        Delete workflow "{{ workflow.workflow_name }}"?
    </div>

    <!-- row delete cancel -->
    {% include "dfirtrack_main/includes/row_delete_cancel.html" %}

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
