<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Case '{{ case.case_name }}'{% if case.system_set.all %} (s: {{ case.system_set.all|length }}){% endif %}
</title>

{% load static %}
{% load dfirtrack_main_tags %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.css"/>
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.js"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- button row -->
<div class="row bottom-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'case_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to cases
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ case.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

<!-- button row -->
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- case name row -->
<div class="row">

    <!-- case name -->
    <div class="col-3">
        <div class="btn btn-primary btn-lg bottom-left top-right top-distance copy-true">
            <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ case.case_name }}
        </div>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if case.system_set.all %}
            {% with systems=case.system_set.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- case name row -->
</div>

<!-- case id row -->
<div class="row top-distance">
    <div class="col-3">
        <small class="text-muted">
            Case-ID: {{ case.case_id }}
        </small>
    </div>
</div>

<!-- case id external row -->
<div class="row bottom-distance">
    <div class="col-3">
        <small>
            External Case-ID:
            {% if case.case_id_external %}
                {{ case.case_id_external }}
            {% else %}
                ---
            {% endif %}
        </small>
    </div>
</div>

<!-- ############################################ -->

<!-- tags / case row -->
{% with model=case %}
    {% include "dfirtrack_main/includes/card_tag_case.html" %}
{% endwith %}

<!-- ############################################ -->

<!-- case information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- case information headline -->
    <div class="row">
        <div class="col">
            <h5>Case information</h5>
        </div>
    </div>

    <!-- case information row -->
    <div class="row bottom-distance">

        <!-- casestatus -->
        <div class="col-3">
            <div class="font-weight-bold">Casestatus:</div>
            <a href="{{ case.casestatus.get_absolute_url }}">
                {{ case.casestatus.casestatus_name }}
            </a>
        </div>

        <!-- casepriority -->
        <div class="col-3">
            <div class="font-weight-bold">Casepriority:</div>
            <a href="{{ case.casepriority.get_absolute_url }}">
                {% with priority_name=case.casepriority.casepriority_name %}
                    {% include "dfirtrack_main/includes/button_priority.html" %}
                {% endwith %}
                {{ case.casepriority.casepriority_name }}
            </a>
        </div>

        <!-- case start time -->
        <div class="col-3">
            <div class="font-weight-bold">Start time:</div>
            {% if case.case_start_time %}
                {{ case.case_start_time|date:"Y-m-d H:i" }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case end time -->
        <div class="col-3">
            <div class="font-weight-bold">End time:</div>
            {% if case.case_end_time %}
                {{ case.case_end_time|date:"Y-m-d H:i" }}
            {% else %}
                ---
            {% endif  %}
        </div>

    <!-- case information row -->
    </div>

    <!-- user row -->
    <div class="row">

        <!-- assigned user -->
        <div class="col-2">
            <div class="font-weight-bold">
                <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Assigned to user:
            </div>
            {% if case.case_assigned_to_user_id %}
                {% include "dfirtrack_main/includes/username.html" with user=case.case_assigned_to_user_id%}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- grab / free user assignment button -->
        <div class="col-3">

            <!-- grab button -->
            {% if not case.case_assigned_to_user_id %}
                <a href="{{ case.get_set_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/person.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Grab
                </a>

            <!-- free button -->
            {% else %}
                <a href="{{ case.get_unset_user_url }}" type="button" class="btn btn-sm btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/delete.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Free
                </a>
            {% endif %}

        <!-- grab / free user assignment button -->
        </div>

    <!-- user row -->
    </div>

    <!-- case information row -->
    <div class="row top-distance bottom-distance">

        <!-- casetype -->
        <div class="col-3">
            <div class="font-weight-bold">Casetype:</div>
            {% if case.casetype %}
                <a href="{{ case.casetype.get_absolute_url }}">
                    {{ case.casetype.casetype_name }}
                </a>
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case is incident -->
        <div class="col-3">
            <div class="font-weight-bold">Is incident:</div>
            {% with case=case %}
                {% include "dfirtrack_main/includes/button_case_is_incident.html" %}
            {% endwith %}
        </div>

    <!-- case information row -->
    </div>

<!-- case information end -->
</div>

<!-- ############################################ -->

<!-- tasks information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- tasks information headline -->
    <div class="row">
        <div class="col">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Tasks
            </h5>
        </div>
    </div>

    <!-- open tasks headline -->
    <div class="row font-weight-bold top-distance bottom-distance">
        <div class="col-3">Open tasks</div>
    </div>

    <!-- open tasks datatable -->
    <table id="table_task_reduced_open" class="display" width="100%">

        <!-- table head -->
        <thead>
            <tr>
                {% include "dfirtrack_main/includes/datatable_thead_table_task_reduced_open.html" %}
            </tr>
        </thead>

        <!-- table body -->
        <tbody>

            <!-- open tasks -->
            {% if case.task_set.all %}
                {% for i in case.task_set.all %}
                    {% if i.taskstatus.taskstatus_name != '30_done' %}

                        <!-- table row -->
                        {% with get_key='case' key_id=case.case_id %}
                            {% include "dfirtrack_main/includes/datatable_tbody_table_task_reduced_open.html" %}
                        {% endwith  %}

                    {% endif %}
                {% endfor %}

            <!-- no open tasks -->
            {% else %}

                <!-- empty table row -->
                <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td></td>
                    <td>---</td>
                    <td></td>
                    <td></td>
                    <td>---</td>
                    <td>---</td>
                </tr>

            {% endif %}

        <!-- table body -->
        </tbody>

    <!-- open tasks datatable -->
    </table>

    <!-- add task button row -->
    <div class="row bottom-distance top-distance">

        <!-- add task button -->
        <div class="col-1">
            <a href="{% url 'task_create' %}?case={{ case.case_id }}" type="button" class="btn btn-light btn-sm copy-false">
                <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm copy-false right-distance" alt="icon">
                Add task
            </a>
        </div>

    <!-- add task button row -->
    </div>

    <!-- closed tasks headline -->
    <div class="row font-weight-bold bottom-distance">
        <div class="col-3">
            <a href="#closed_tasks" data-bs-toggle="collapse" class="copy-true">
                Closed tasks
                <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon-sm copy-false left-distance" alt="icon">
            </a>
        </div>
    </div>

    <!-- closed tasks collapse -->
    <div id="closed_tasks" class="collapse">

        <!-- closed tasks datatable -->
        <table id="table_task_reduced_closed" class="display" width="100%">

            <!-- table head -->
            <thead>
                <tr>
                    {% include "dfirtrack_main/includes/datatable_thead_table_task_reduced_closed.html" %}
                </tr>
            </thead>

            <!-- table body -->
            <tbody>

                <!-- closed tasks -->
                {% if case.task_set.all %}
                    {% for i in case.task_set.all %}
                        {% if i.taskstatus.taskstatus_name == '30_done' %}

                            <!-- table row -->
                            {% with get_key='case' key_id=case.case_id %}
                                {% include "dfirtrack_main/includes/datatable_tbody_table_task_reduced_closed.html" %}
                            {% endwith  %}

                        {% endif %}
                    {% endfor %}
                {% else %}

                    <!-- empty table row -->
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td></td>
                        <td>---</td>
                        <td>---</td>
                    </tr>

                <!-- closed tasks -->
                {% endif %}

            <!-- table body -->
            </tbody>

        <!-- closed tasks datatable -->
        </table>

    <!-- closed tasks collapse -->
    </div>

<!-- tasks information -->
</div>

<!-- ############################################ -->

<!-- case notes -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- case notes - headline row-->
    <div class="row">

        <!-- case internal note headline -->
        <div class="col-4">
            <h5>
                Internal note
            </h5>
        </div>

        <!-- case external note headline -->
        <div class="col-4">
            <h5>
                External note
            </h5>
        </div>

        <!-- case analysis result note headline -->
        <div class="col-4">
            <h5>
                Analysis result
            </h5>
        </div>

    <!-- case notes - headline row-->
    </div>

    <!-- case notes - content row-->
    <div class="row">

        <!-- case internal note -->
        <div class="col-4">
            {% if case.case_note_internal %}
                {{ case.case_note_internal|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case external note -->
        <div class="col-4">
            {% if case.case_note_external %}
                {{ case.case_note_external|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case analysis result note -->
        <div class="col-4">
            {% if case.case_note_analysisresult %}
                {{ case.case_note_analysisresult|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

    <!-- case notes - content row-->
    </div>

<!-- case notes -->
</div>

<!-- ############################################ -->

<!-- meta information -->
{% with create_time=case.case_create_time created_by_user_id=case.case_created_by_user_id modify_time=case.case_modify_time modified_by_user_id=case.case_modified_by_user_id %}
    {% include "dfirtrack_main/includes/card_meta_information.html" %}
{% endwith %}

<!-- ############################################ -->

<!-- system block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- systems headline row -->
    <div class="row top-distance bottom-distance">
        <div class="col-3">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Systems associated with this case{% if case.system_set.all %} ({{ case.system_set.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- systems -->
    {% if case.system_set.all %}

        <!-- datatable system -->
        <table id="table_system" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
            </thead>

            <!-- table body -->
            <tbody>
            </tbody>

        <!-- datatable system -->
        </table>

    <!-- no systems -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- systems -->
    {% endif %}

<!-- system block -->
</div>

<!-- ############################################ -->

<!-- check for artifacts app -->
{% if dfirtrack_artifacts == True %}

<!-- artifact block -->
<div class="card bg-dark border-light card-body top-distance">

<!-- artifacts headline row -->
<div class="row bottom-distance top-distance">
    <div class="col-3">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/bug-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Artifacts associated with this case <span id="artifact_count"></span>
        </h5>
    </div>
</div>

<!-- artifacts -->

<!-- datatable artifact -->
<table id="table_artifact_details" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
    </thead>

    <!-- table body -->
    <tbody>
    </tbody>

<!-- datatable artifact -->
</table>

<!-- artifacts -->


<!-- artifact block -->
</div>

<!-- check for artifacts app -->
{% endif %}

<!-- ############################################ -->

<!-- button row -->
<div class="row top-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'case_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to cases
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ case.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

<!-- button row -->
</div>

<!-- HTML body in maintemplate -->
{% endblock %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>
<script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>
<script src="{% get_static_prefix %}dfirtrack_main/{% dep_datatables_version %}/datatables.min.js"></script>
{% endblock %}
