<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Case '{{ case.case_name }}'{% if case.system_set.all %} (s: {{ case.system_set.all|length }}){% endif %}
</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- button row -->
<div class="row bottom-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'case_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to cases
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ case.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

<!-- button row -->
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- case name row -->
<div class="row">

    <!-- case name -->
    <div class="col-3">
        <div class="btn btn-primary btn-lg bottom-left top-right top-distance copy-true">
            <img src="{% static 'dfirtrack_main/icons/list-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ case.case_name }}
        </div>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if case.system_set.all %}
            {% with systems=case.system_set.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- case name row -->
</div>

<!-- case id row -->
<div class="row top-distance">
    <div class="col-3">
        <small class="text-muted">
            Case-ID: {{ case.case_id }}
        </small>
    </div>
</div>

<!-- case id external row -->
<div class="row bottom-distance">
    <div class="col-3">
        <small>
            External Case-ID:
            {% if case.case_id_external %}
                {{ case.case_id_external }}
            {% else %}
                ---
            {% endif %}
        </small>
    </div>
</div>

<!-- tags row -->
<div class="row">

    <!-- tags -->
    <div class="col-6">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Tags
        </h5>
        {% if case.tag.all %}
            {% for i in case.tag.all|dictsort:"tag_name" %}
                <!-- tooltip with tag note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ i.tag_note }}">
                    <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-sm btn-{{ i.tagcolor }} round copy-true top-distance">
                        <!-- black tag icon for white tag (black color of font is defined in corresponding CSS for button) -->
                        {% if i.tagcolor.tagcolor_name == 'white' %}
                            <img src="{% static 'dfirtrack_main/icons/tag.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        <!-- white tag icon for other tags (white color of font is defined in corresponding CSS for button) -->
                        {% else %}
                            <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        {% endif %}
                        {{ i }}
                    </a>
                </span>
            {% endfor %}
        {% else %}
            ---
        {% endif %}
    </div>

<!-- tags row -->
</div>

<!-- case information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- case information headline -->
    <div class="row">
        <div class="col">
            <h5>Case information</h5>
        </div>
    </div>

    <!-- case information row -->
    <div class="row bottom-distance">

        <!-- casestatus -->
        <div class="col-3">
            <div class="font-weight-bold">Casestatus:</div>
            <a href="{{ case.casestatus.get_absolute_url }}">
                {{ case.casestatus.casestatus_name }}
            </a>
        </div>

        <!-- casepriority -->
        <div class="col-3">
            <div class="font-weight-bold">Casepriority:</div>
            <a href="{{ case.casepriority.get_absolute_url }}">
                {{ case.casepriority.casepriority_name }}
            </a>
        </div>

        <!-- case start time -->
        <div class="col-3">
            <div class="font-weight-bold">Start time:</div>
            {% if case.case_start_time %}
                {{ case.case_start_time|date:"Y-m-d H:i" }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case end time -->
        <div class="col-3">
            <div class="font-weight-bold">End time:</div>
            {% if case.case_end_time %}
                {{ case.case_end_time|date:"Y-m-d H:i" }}
            {% else %}
                ---
            {% endif  %}
        </div>

    <!-- case information row -->
    </div>

    <!-- case information row -->
    <div class="row bottom-distance">

        <!-- casetype -->
        <div class="col-3">
            <div class="font-weight-bold">Casetype:</div>
            {% if case.casetype %}
                <a href="{{ case.casetype.get_absolute_url }}">
                    {{ case.casetype.casetype_name }}
                </a>
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case is incident -->
        <div class="col-3">
            <div class="font-weight-bold">Is incident:</div>
            {% with case=case %}
                {% include "dfirtrack_main/includes/button_case_is_incident.html" %}
            {% endwith %}
        </div>

    <!-- case information row -->
    </div>

<!-- case information end -->
</div>

<!-- case notes -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- case notes - headline row-->
    <div class="row">

        <!-- case internal note headline -->
        <div class="col-4">
            <h5>
                Internal note
            </h5>
        </div>

        <!-- case external note headline -->
        <div class="col-4">
            <h5>
                External note
            </h5>
        </div>

        <!-- case analysis result note headline -->
        <div class="col-4">
            <h5>
                Analysis result
            </h5>
        </div>

    <!-- case notes - headline row-->
    </div>

    <!-- case notes - content row-->
    <div class="row">

        <!-- case internal note -->
        <div class="col-4">
            {% if case.case_note_internal %}
                {{ case.case_note_internal|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case external note -->
        <div class="col-4">
            {% if case.case_note_external %}
                {{ case.case_note_external|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

        <!-- case analysis result note -->
        <div class="col-4">
            {% if case.case_note_analysisresult %}
                {{ case.case_note_analysisresult|linebreaks }}
            {% else %}
                ---
            {% endif  %}
        </div>

    <!-- case notes - content row-->
    </div>

<!-- case notes -->
</div>

<!-- meta information -->
<div class="card bg-dark border-secondary card-body top-distance">

    <!-- meta information headline -->
    <div class="row text-muted">
        <div class="col">
            <h5>Meta information</h5>
        </div>
    </div>

    <!-- meta information row -->
    <div class="row text-muted">

        <!-- case create time -->
        <div class="col-3">
            <div class="font-weight-bold">Created:</div>
            {{ case.case_create_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user creating case -->
        <div class="col-3">
            <div class="font-weight-bold">Created by:</div>
            {{ case.case_created_by_user_id }}
        </div>

        <!-- case modify time -->
        <div class="col-3">
            <div class="font-weight-bold">Last modified:</div>
            {{ case.case_modify_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user modifying case -->
        <div class="col-3">
            <div class="font-weight-bold">Modified by:</div>
            {{ case.case_modified_by_user_id }}
        </div>

    <!-- meta information row -->
    </div>

<!-- meta information -->
</div>

<!-- button row -->
<div class="row top-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'case_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to cases
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ case.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

<!-- button row -->
</div>

<!-- system block -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- systems headline row -->
    <div class="row top-distance bottom-distance">
        <div class="col-3">
            <h5>
                <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                Systems associated with this case{% if case.system_set.all %} ({{ case.system_set.all|length }}){% endif %}
            </h5>
        </div>
    </div>

    <!-- systems -->
    {% if case.system_set.all %}

        <!-- datatable system -->
        <table id="table_system" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
            </thead>

            <!-- table body -->
            <tbody>
            </tbody>

        <!-- datatable system -->
        </table>

        <!-- javascript for datatables -->
        <script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

    <!-- no systems -->
    {% else %}
        <div class="row top-distance">
            <div class="col-3">
                ---
            </div>
        </div>

    <!-- systems -->
    {% endif %}

<!-- system block -->
</div>

<!-- check for artifacts app -->
{% if dfirtrack_artifacts == True %}

<!-- artifact block -->
<div class="card bg-dark border-light card-body top-distance">

<!-- artifacts headline row -->
<div class="row bottom-distance top-distance">
    <div class="col-3">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/bug-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            Artifacts associated with this case{% if artifacts %} ({{ artifacts|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- artifacts -->
{% if artifacts %}

    <!-- datatable artifact -->
    <table id="table_artifact" class="display" width="100%">

        <!-- table head -->
        <thead>
            {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
        </thead>

        <!-- table body -->
        <tbody>
            <!-- iterate over rows -->
            {% for i in artifacts %}
                {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
            {% endfor %}
        </tbody>

    <!-- datatable artifact -->
    </table>

    <!-- javascript for datatables -->
    <script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

<!-- no artifacts -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- artifacts -->
{% endif %}

<!-- artifact block -->
</div>

<!-- check for artifacts app -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- button row -->
<div class="row top-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'case_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to cases
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ case.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

<!-- button row -->
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
