{% load static %}
<!-- open artifacts button -->
<div class="col-2">
    {% if request.path|slice:"-9:" == "artifact/" %}
        <button type="button" class="btn btn-light copy-false" disabled>
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            Open artifacts
        </a>
    {% else %}
        <a href="{% url 'artifacts_artifact_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            Open artifacts
        </a>
    {% endif %}
</div>

<!-- closed artifacts button -->
<div class="col-2">
    {% if request.path|slice:"-7:" == "closed/" %}
        <button class="btn btn-light copy-false" disabled>
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            Closed artifacts
        </button>
    {% else %}
        <a href="{% url 'artifacts_artifact_closed' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            Closed artifacts
        </a>
    {% endif %}
</div>

<!-- all artifacts button -->
<div class="col-2">
    {% if request.path|slice:"-4:" == "all/" %}
        <button class="btn btn-light copy-false" disabled>
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            All artifacts
        </button>
    {% else %}
        <a href="{% url 'artifacts_artifact_all' %}" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/bug.svg' %}" class="icon right-distance copy-false" alt="icon">
            All artifacts
        </a>
    {% endif %}
</div>
