<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    Add artifact
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Add artifact
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ############################################ -->

    <!-- artifact_name block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- artifact_name / system headline row -->
        <div class="row">

            <!-- artifact_name headline -->
            <div class="col-3">
                <h5>
                    {{ form.artifact_name.label }}
                </h5>
            </div>

            <!-- system headline -->
            <div class="col-3">
                <h5>
                    {{ form.system.label }}
                </h5>
            </div>

        <!-- artifact_name / system headline row -->
        </div>

        <!-- artifact_name / system row -->
        <div class="row">

            <!-- artifact_name  -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact_name errors -->
                    <div class="text-danger">
                        {{ form.artifact_name.errors }}
                    </div>
                    {{ form.artifact_name }}
                </div>
            </div>

            <!-- system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- system errors -->
                    <div class="text-danger">
                        {{ form.system.errors }}
                    </div>
                    {{ form.system }}
                </div>
            </div>

        <!-- artifact_name / system row -->
        </div>

    <!-- artifact_name block -->
    </div>

    <!-- ############################################ -->

    <!-- tag / case block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag / case  headline -->
        <div class="row">

            <!-- placeholder for tag headline -->
            <div class="col-6">
            </div>

            <!-- case headline -->
            <div class="col-6">
                <h5>
                    {{ form.case.label }}
                </h5>
            </div>

        <!-- tag / case  headline -->
        </div>

        <!-- tag / case -->
        <div class="row">

            <!-- placeholder for tag -->
            <div class="col-6">
            </div>

            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- case errors -->
                    <div class="text-danger">
                        {{ form.case.errors }}
                    </div>
                    {{ form.case }}
                </div>
            </div>

        <!-- tag / case -->
        </div>

    <!-- tag / case block -->
    </div>

    <!-- ############################################ -->

    <!-- artifact information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- artifact information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Artifact information
                </h5>
            </div>
        </div>

        <!-- artifactstatus / artifactpriority headlines row -->
        <div class="row">

            <!-- artifactstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.artifactstatus.label }}
                </div>
            </div>

            <!-- artifactpriority headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.artifactpriority.label }}
                </div>
            </div>

        <!-- artifactstatus / artifactpriority headlines row -->
        </div>

        <!-- artifactstatus / artifactpriority row -->
        <div class="row">

            <!-- artifactstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifactstatus errors -->
                    <div class="text-danger">
                        {{ form.artifactstatus.errors }}
                    </div>
                    {% for i in form.artifactstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- artifactpriority -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifactpriority errors -->
                    <div class="text-danger">
                        {{ form.artifactpriority.errors }}
                    </div>
                    {% for i in form.artifactpriority %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- artifactstatus / artifactpriority row -->
        </div>

        <!-- artifacttype headlines row -->
        <div class="row top-distance">

            <!-- artifacttype headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    {{ form.artifacttype.label }}
                </div>
            </div>

        <!-- artifacttype headlines row -->
        </div>

        <!-- artifacttype row -->
        <div class="row">

            <!-- artifacttype -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifacttype errors -->
                    <div class="text-danger">
                        {{ form.artifacttype.errors }}
                    </div>
                    {{ form.artifacttype }}
                </div>
            </div>

        <!-- artifacttype row -->
        </div>

        <!-- artifact_source_path headlines row -->
        <div class="row top-distance">

            <!-- artifact_source_path headline -->
            <div class="col-12">
                <div class="font-weight-bold">
                    {{ form.artifact_source_path.label }}
                </div>
            </div>

        <!-- artifact_source_path headlines row -->
        </div>

        <!-- artifact_source_path row -->
        <div class="row">

            <!-- artifact_source_path -->
            <div class="col-12">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact_source_path errors -->
                    <div class="text-danger">
                        {{ form.artifact_source_path.errors }}
                    </div>
                    {{ form.artifact_source_path }}
                </div>
            </div>

        <!-- artifact_source_path row -->
        </div>

        <!-- artifact hash headline row -->
        <div class="row top-distance">

            <!-- artifact_md5 headline -->
            <div class="col-4">
                <div class="font-weight-bold">
                    {{ form.artifact_md5.label }}
                </div>
            </div>

            <!-- artifact_sha1 headline -->
            <div class="col-4">
                <div class="font-weight-bold">
                    {{ form.artifact_sha1.label }}
                </div>
            </div>

            <!-- artifact_sha256 headline -->
            <div class="col-4">
                <div class="font-weight-bold">
                    {{ form.artifact_sha256.label }}
                </div>
            </div>

        <!-- artifact hash headline row -->
        </div>

        <!-- artifact hash row -->
        <div class="row">

            <!-- artifact_md5 -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_md5.errors }}
                    </div>
                    {{ form.artifact_md5 }}
                </div>
            </div>

            <!-- artifact_sha1 -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_sha1.errors }}
                    </div>
                    {{ form.artifact_sha1 }}
                </div>
            </div>

            <!-- artifact_sha256 -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_sha256.errors }}
                    </div>
                    {{ form.artifact_sha256 }}
                </div>
            </div>

        <!-- artifact hash row -->
        </div>

    <!-- artifact information block -->
    </div>

    <!-- ############################################ -->

    <!-- artifact note block -->
    <div class="card card-body bg-dark border-light top-distance bottom-distance">

        <!-- artifact note headline row -->
        <div class="row">

            <!-- artifact_note_internal headline -->
            <div class="col-4">
                <h5>
                    {{ form.artifact_note_internal.label }}
                </h5>
            </div>

            <!-- artifact_note_external headline -->
            <div class="col-4">
                <h5>
                    {{ form.artifact_note_external.label }}
                </h5>
            </div>

            <!-- artifact_note_analysisresult headline -->
            <div class="col-4">
                <h5>
                    {{ form.artifact_note_analysisresult.label }}
                </h5>
            </div>

        <!-- artifact note headline row -->
        </div>

        <!-- artifact note row -->
        <div class="row">

            <!-- artifact_note_internal -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_note_internal.errors }}
                    </div>
                    {{ form.artifact_note_internal }}
                </div>
            </div>

            <!-- artifact_note_external -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_note_external.errors }}
                    </div>
                    {{ form.artifact_note_external }}
                </div>
            </div>

            <!-- artifact_note_analysisresult -->
            <div class="col-4">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- artifact note errors -->
                    <div class="text-danger">
                        {{ form.artifact_note_analysisresult.errors }}
                    </div>
                    {{ form.artifact_note_analysisresult }}
                </div>
            </div>

        <!-- artifact note row -->
        </div>

    <!-- artifact note block -->
    </div>

    <!-- ############################################ -->

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
