<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - {{artifact_site|capfirst}} Artifacts
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline and buttons -->
<div class="row bottom-distance">

    <!-- headline -->
    <div class="col-3">
        <h5>
            <img src="{% static 'dfirtrack_main/icons/bug-light.svg' %}" class="icon right-distance copy-false" alt="icon"> {{artifact_site|capfirst}} artifacts
        </h5>
    </div>

<!-- headline -->
</div>

<!--Artifact table card -->
<div class="card bg-dark tab-card mb-3">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
            <a class="nav-link {% if artifact_site == "open"%}active{% endif %}" href="{% url 'artifacts_artifact_list' %}">
                Open artifacts
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if artifact_site == "closed"%}active{% endif %}" href="{% url 'artifacts_artifact_closed' %}">
                Closed artifacts
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if artifact_site == "all"%}active{% endif %}" href="{% url 'artifacts_artifact_all' %}">
                All artifacts
            </a>
            </li>
        </ul>
        </div>

    <div class="card-body bg-dark">
        <!-- artifact filter -->
        {% include "dfirtrack_main/includes/filter_row.html" with clear_url='clear_artifact_list_filter' %}

        <!-- datatable artifact -->
        <table id="table_artifact" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
            </thead>

            <!-- table body -->
            <tbody>
            </tbody>

        <!-- datatable artifact -->
        </table>
    </div>
<!--Artifact table card -->
</div>


{% include "dfirtrack_artifacts/includes/menu_bottom_artifact.html" %}

<!-- HTML body in maintemplate -->
{% endblock %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
<script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>
{% endblock %}