<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    DFIRTrack - Artifacts
</title>

{% load staticfiles %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Artifacts
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- artifact id -->
    <div class="col-1">
        ID
    </div>

    <!-- artifact name -->
    <div class="col-2">
        Artifact name
    </div>

    <!-- artifact is related to case -->
    <div class="col-1">
        Case
    </div>

    <!-- artifact create time -->
    <div class="col-2">
        Created
    </div>

    <!-- case create user -->
    <div class="col-1">
        Created by
    </div>

<!-- headlines -->
</div>

<!-- artifact list -->
{% for i in object_list %}

    <!-- artifact row -->
    <div class="row top-distance">

        <!-- artifact id -->
        <div class="col-1">
            {{ i.artifact_id }}
        </div>

        <!-- artifact name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
            {{i.artifact_name}}
            </a>
        </div>

        <!-- case that is associated with this artifact -->
        <div class="col-1">
            <a href="{{ i.case.get_absolute_url }}">
            {{i.case}}
            </a>
        </div>

        <!-- system that is associated with this artifact -->
        <div class="col-1">
            <a href="{{ i.system.get_absolute_url }}">
            {{i.system.system_name}}
            </a>
        </div>

        <!-- artifact create time -->
        <div class="col-2 text-secondary">
            {{ i.artifact_create_time |date:"Y-m-d H:i" }}
        </div>

        <!-- artifact create user -->
        <div class="col-1 text-secondary">
            {{ i.artifact_created_by_user_id }}
        </div>

        <!-- placeholder -->
        <div class="col-4"></div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- artifact row -->
    </div>

<!-- artifact list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'artifacts_artifact_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add artifact
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
